html {
	box-sizing: border-box;
}

body * {
  font-size: 16px;
  /* outline: 1px solid red; */
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
 	min-width: 320px;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* ---------- Glob ----------*/

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0px 75px;  
}

.list-reset {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
}

/* Псевдоклассы для svg */
svg rect,
svg path,
svg circle {
  transition: all .3s ease-in-out;
}
.svg {
  display: flex;
}

/* ---------- My style ---------- */
body {
	background-color: #424242;
}

header span,
footer span {
	color: #fff;
}

/* ---------- Main ---------- */
.site-main__section {
	margin-bottom: 50px;
}
.site-main__section-wrap{
	display: flex;
}

h1 {
  font-size: 3em;
  margin-bottom: 50px;
  color: #fff;
}
h2 {
  font-size: 2em;
  margin-bottom: 25px;

  color: #fff;
}

/* ---------- wrap-1 ---------- */
.wrap-1 {		
	width: 176px;
	margin-right: 50px;
	padding: 20px 30px;
	border-radius: 10px;
	background: #fff;
}
.wrap-1 fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}
.wrap-1 div {
	padding-top: 20px;
}
.wrap-1 legend {
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
}
.wrap-1 label {
	position: relative;
	padding-left: 20px;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	cursor: pointer;
}
.wrap-1 label:hover .wrap-1__input + span {
	border: 1px solid #CCB26E;
	transition: border .3s ease-in-out;
}
.wrap-1__input {
	display: none
}
.wrap-1__input + span {
	position: absolute;
	top: 0;
	left: 0;
	width: 15px;
	height: 15px;
	border: 1px solid #999;
	border-radius: 3px;
	transition: border .3s ease-in-out;
}
.wrap-1__input + span::before {
	content: url(/img/check.svg);
	position: absolute;	
	top: -5px;
	right: 0;
	bottom: 0;
	left: 2px;
	opacity: 0;
	transition: opacity .3s ease-in-out;
}
.wrap-1__input:checked + span {	
	border: 1px solid #CCB26E;
}
.wrap-1__input:checked + span::before {
	opacity: 1;
}
.choices__list--dropdown [data-value=''] {
	display: none;
}

/* ---------- wrap-2 ---------- */
.wrap-2 {
	display: inline-block;
	background-color: #777;
	padding: 10px;
}

.choices {
	width: 176px;	
	border-radius: 10px;	
}
.choices__inner {
	border: 1px solid #fff;
	background-color: #fff;
	z-index: 0;
}
.choices[data-type*="select-one"]::after {
	right: 25px;
	top: 12px;
	margin-top: 0;
	border-style: none;	
	content: url(../img/choises-down.svg);
	z-index: 1;
}
.choices[data-type*="select-one"].is-open::after{
	margin: 0;
	border-color: none;
	content: url(../img/choises-up.svg);
	z-index: 1;
}
.is-open .choices__list[aria-expanded] {
	top: 80%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;	
	border: 1px solid #CCB26E;
	z-index: 0;	
}
.is-open .choices__list .choices__list {		
	padding-top: 10px;		
}
.is-focused .choices__inner, 
.is-open .choices__inner {
	border-radius: 10px;	
	border: 1px solid #CCB26E;
	position: relative;
	background-color: #fff;
	z-index: 1;
}
.choices__item--selectable {
	padding-right: 0 !important;
}
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
	background-color: #CCB26E33;
}

/* ---------- wrap-3 ---------- */
[class*="ground-pane"] {
	filter: grayscale(1);
}