:root {}

@font-face {
	font-family: 'Muller';
	src: local('Muller-Regular'),
		url('../fonts/MullerRegular.woff2') format('woff2'),
		url('../fonts/MullerRegular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: local('Muller-Medium'),
		url('../fonts/MullerMedium.woff2') format('woff2'),
		url('../fonts/MullerMedium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}


@font-face {
	font-family: 'Muller';
	src: local('Muller-Bold'),
		url('../fonts/MullerBold.woff2') format('woff2'),
		url('../fonts/MullerBold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
  min-width: 1200px;
	font-family: 'Muller', sans-serif;
  /* background-color: #; */
}

/* ----- Glob -----*/

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex {
  display: flex;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.link-dark:focus {
  outline: 1px solid var();
  color: var();
}
.link-dark:hover {
  color: var();
}
.link-dark:active {
  outline: none;
  color: var();
}

.link-light:focus {
  outline: 1px solid var();
  color: var();
}
.link-light:hover {
  color: var();
}
.link-light:active {
  color: var();
}
.link-light:hover svg path {
  fill: var();
}
.link-light:active svg path {
  fill: var();
}

.btn {
  color: var();
  border: 1px solid var();
}
.btn:focus {
  background-color: var();
  color: var();
}
.btn:hover {
  background-color: var();
  color: var();
}
.btn:active {
  background-color: var();
  color: var(-);
}

.container {
  width: 1216px;
  margin: 0 auto;
  padding: 0 23px;
}

.section-title {
  margin: 0;
  padding-left: 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  overflow-wrap: break-word;
  color: var();
}

.section-offset {
  padding-bottom: 70px;
}
