:root {}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat-Regular'),
    url('../fonts/montserrat-regular.woff2') format('woff2'),
    url('../fonts/montserrat-regular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat-SemiBold'),
		url('../fonts/montserrat-semibold.woff2') format('woff2'),
		url('../fonts/montserrat-semibold.woff') format('woff');
	font-display: swap;
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat-Bold'),
		url('../fonts/montserrat-bold.woff2') format('woff2'),
		url('../fonts//montserrat-bold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
}

body * {
  outline: 1px solid red;
}

/* ---------- Glob ----------*/

.container {
  width: 1820px;
  margin: 0 auto;
  padding: 0 25px;
  /*  */
}

.site-main__section {
  margin-bottom: 100px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex {
  display: flex;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.link-dark:focus {
  outline: 1px solid var();
  color: var();
}
.link-dark:hover {
  color: var();
}
.link-dark:active {
  outline: none;
  color: var();
}

.link-light:focus {
  outline: 1px solid var();
  color: var();
}
.link-light:hover {
  color: var();
}
.link-light:active {
  color: var();
}
.link-light:hover svg path {
  fill: var();
}
.link-light:active svg path {
  fill: var();
}

.btn {
  color: var();
  border: 1px solid var();
}
.btn:focus {
  background-color: var();
  color: var();
}
.btn:hover {
  background-color: var();
  color: var();
}
.btn:active {
  background-color: var();
  color: var(-);
}



.section-title {
  margin: 0;
  padding-left: 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  overflow-wrap: break-word;
  color: var();
}

.section-offset {
  padding-bottom: 70px;
}

/* ---------- Header ---------- */

.site-header {
  position: static;
  height: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);;
}

.site-header__container {
  padding-top: 14px;
  padding-bottom: 14px;
}

.site-header__logo-wrap {
  width: 50%;
  height: inherit;
}

.site-header__logo-link {}

.site-header__logo {}

.site-header__nav {
  width: 50%;
  justify-content: flex-end;
}

.nav__list {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.nav__item {
  max-width: 175px;
  /* width: 100%; */
  padding: 0 10px;
  word-wrap: break-word;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

/* ---------- section-slider ---------- */

.section-slider__container {}

.section-slider__wrap {
  position: relative;
  height: 620px;
}

.section-slider__list{}

.section-slider__overlay {
  position: absolute;
  width: 917px;
  top: 0;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 80px;
}

.section-slider__header {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: #fff;
}

.section-slider__descr {
  margin: 0;
  margin-bottom: 90px;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
}

.section-slider__btn {
  width: 280px;
  height: 78px;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  background-color: #ff9900;
}

/* ---------- section-about ---------- */

.section-about__header {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

.section-about__descr {
  max-width: 1235px;
  margin: 0;
  margin-bottom: 50px;
  line-height: 32px;
  color: #333;
}

.section-about__wrap {
  justify-content: space-between;
}

.section-about__left {
  flex-basis: 50%;
  margin-right: 32px;
}

.section-about__right {
  flex-basis: 50%;
  flex-direction: column;
  /* height: 622px; */
}

.section-about__left {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/about.jpg);
}

.about-left__overlay {
  position: absolute;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 196px;
  bottom: 0;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
}

.about-left__descr {
  max-width: 454px;
  margin: 0;
  line-height: 32px;
  color: #fff;
}

.about-left__btn {
  max-width: 175px;
  height: 60px;
  padding: 20px 38px;
  border: 3px solid #ff9900;
  color: #fff;
}

.about-right__card {
  /* height: 295px; */
  padding: 65px 110px 65px 300px;
  border: 1px solid #cacaca;
  background-repeat: no-repeat;
  background-position: 60px center;
}

.about-right__card:not(:last-child) {
  margin-bottom: 32px;

}

.about-right__header {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #333;
}

.about-right__descr {
  margin: 0;
  line-height: 32px;
  color: #333;
}

.about-right__card--1 {
  background-image: url(../img/about-right-1.svg);
}

.about-right__card--2 {
background-image: url(../img/about-right-2.svg);
}

/* ---------- section-work ---------- */
.section-work {
}

.section-work__container {}

.section-work__header {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

.section-workt__descr {}

.section-work__list {
  margin-bottom: 40px;
}

.section-work__item {
  color: #333;
}

.section-work__item:not(:last-child) {
  padding-right: 85px;
}

.section-work__wrap {
  /* height: 470px; */
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
  background-image: url(../img/work.jpg);
}

.section-work__left {}

.work-right__header {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333;
}

.work-right__descr {
  width: 758px;
  margin: 0;
  margin-bottom: 50px;
  line-height: 32px;
  color: #333;
}

.work-right__btn--orange {
  padding: 20px 38px;
  margin-right: 32px;
  line-height: 20px;
  color: #fff;
  background-color: #ff9900;
}

.work-right__btn--white {
  padding: 20px 38px;
  line-height: 20px;
  color: #333;
}

/* ---------- section-work ---------- */

.section-faq {}

.section-faq__container {}

.section-faq__header {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

.section-faq__list {
  flex-direction: column;
}

.section-faq__item {
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cacaca;
  cursor: pointer;
}

.section-faq__item:first-child {
  border-top: 1px solid #cacaca;
}

.section-faq__item-descr {
  margin: 0;
  padding: 39px 0;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
}

/* ---------- footer ---------- */

.site-footer {}

.site-footer__container {
  width: 100%;
  padding: 50px 0;
}

.site-footer {
  background-color: #222;
}

.site-footer__logo {
  margin-bottom: 20px;
}

.site-footer__left {
  width: 600px;
}

.footer-left__list {
  margin-bottom: 90px;
}

.footer-left__item {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #cacaca;
}

.footer-left__social-wrap {}

.site-footer__center {
  width: 570px;
}

.footer-left-social:not(:last-child) {
  margin-right: 25px;
}

.site-footer__right {
  width: 600px;
  padding-top: 87px;
  padding-left: 236px;
  line-height: 32px;
  color: #cacaca;
}

.site-footer__form {
  flex-direction: column;
}

.footer-form__header {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #cacaca;
}

.footer-form__input {
  margin-bottom: 25px;
  border: none;
  background-color: #414141;
}

.footer-form__input--name {
  height: 60px;
}
.footer-form__input--email {
  height: 60px ;
}
.footer-form__input--massage {
  height: 150px;
}
