@font-face {
	font-family: 'Muller';
	src: local('Muller-Regular'),
		url('../fonts/MullerRegular.woff2') format('woff2'),
		url('../fonts/MullerRegular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: local('Muller-Medium'),
		url('../fonts/MullerMedium.woff2') format('woff2'),
		url('../fonts/MullerMedium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}


@font-face {
	font-family: 'Muller';
	src: local('Muller-Bold'),
		url('../fonts/MullerBold.woff2') format('woff2'),
		url('../fonts/MullerBold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
  min-width: 1200px;
	font-family: 'Muller', sans-serif;
  background-color: #e5e5e5;
}

/* glob */

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex {
  display: flex;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  width: 1216px;
  margin: 0 auto;
  padding: 0 23px;
}

.section-title {
  margin: 0;
  padding-left: 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  overflow-wrap: break-word;
  color: #333;
}

.section-offset {
  padding-bottom: 70px;
}

/* header */

.header {
  padding-top: 30px;
  margin-bottom: 70px;
}

.header-container {}

.header-main {
  margin-bottom: 30px;
  align-items: center;
}

.header-logo-link {
  min-width: 260px;
  margin-right: 34px;
}

.header-logo-img {}

.header-link-tel {
  display: block;
  margin-right: auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #666;
}

.header-link-cabinet {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 10px;
  color: #cc9933;
}

.header-link-cabinet-icon {
  position: relative;
  left: -7px;
}

.header-nav {
  align-items: center;
  padding: 15px 25px;
  border-radius: 15px;
  background-color: #fff;
}

.header-nav-list {
  width: 100%;
  max-width: 730px;
  padding: 17px 0;
  justify-content: space-between;
  border-right: 1px solid #e1e1e1;
  line-height: 16px;
}

.header-nav-item {
  max-width: 160px;
  padding-right: 15px;
  overflow: hidden;
  overflow-wrap: break-word;
  color: #666;
}

.header-nav-item:last-child {
  padding-right: 25px;
}
.header-nav-link {}

.header-nav-buttons {
  width: 100%;
  max-width: 426px;
  padding-left: 25px;
  justify-content: space-evenly;
}

.header-btn-link {
  max-width: 180px;
  padding: 13px 20px;
  border: 1px solid #cc9933;
  border-radius: 10px;
  overflow-wrap: break-word;
  overflow: hidden;
  color: #cc9933;
}

.header-btn {
  max-width: 180px;
  padding: 13px 20px;
  border: 1px solid #cc9933;
  border-radius: 10px;
  overflow: hidden;
  overflow-wrap: break-word;
  color: #cc9933;
}

/* special */

.special-title {
  margin-bottom: 20px;
}

.special-left-list {
  width: 573px;
  margin: 0;
  margin-right: 23px;
}

.special-left-item:not(:last-child) {
  margin-bottom: 23px;
}

.special-left-item {
  padding: 40px;
  padding-right: 234px;
  border-radius: 15px;
}

.special-left-item-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  overflow-wrap: break-word;
  color: #fff;
}

.special-left-item-price {
  margin: 0;
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  overflow-wrap: break-word;
  opacity: 80%;
  color: #fff;
}

.special-left-item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  overflow-wrap: break-word;
  color: #ffcc66;
}

.special-left-item-link-icon, .special-right-item-link-icon {
  position: relative;
  top: 4px;
  right: -4px;
}

.special-left-item-1 {
  background-image: url(../img/special-1.jpg);
}

.special-left-item-2 {
  background-image: url(../img/special-2.jpg);
}

.special-right-list {
  margin: 0;
}

.special-right-item {
  width: 573px;
  padding: 211px 234px 40px 40px ;
  border-radius: 15px;
  background-image: url(../img/special.jpg);
}

.special-right-item-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  overflow-wrap: break-word;
  color: #fff;
}

.special-right-item-price {
  margin: 0;
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  overflow-wrap: break-word;
  opacity: 80%;
  color: #fff;
}

.special-right-item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  overflow-wrap: break-word;
  color: #ffcc66;
}

.special-left-item-1, .special-left-item-2, .special-right-item {
  background-size: cover;
  background-position: center center;
}

/* about */

.about {}

.about-title {
  margin-bottom: 20px;
}

.about-descr {
  width: 888px;
  margin: 0;
  line-height: 32px;
}

/* services */

.services {
  padding-bottom: 45px;
}

.services-title {
  margin-bottom: 20px;
}

.services-list {
  flex-wrap: wrap;
  justify-content: space-between
}

.services-item {
  width: 573px;
  margin-right: 23px;
  margin-bottom: 23px;
  padding: 191px 126px 50px 45px;
  border-radius: 15px;
  background-position: top;
  background-repeat: no-repeat;
  background-color: #fff;
}

.services-item:nth-child(even) {
  margin-right: 0;
}

.services-item-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  overflow-wrap: break-word;
  color: #cc9933;
}

.services-item-link-icon {
  position: relative;
  top: 3px;
  right: -5px;
}

.services-item-descr {
  margin: 0;
  line-height: 32px;
  overflow-wrap: break-word;
}

.services-item-img-1 {
  background-image: url(../img/services-1.jpg);
}

.services-item-img-2 {
  background-image: url(../img/services-2.jpg);
}

.services-item-img-3 {
  background-image: url(../img/services-3.jpg);
}

.services-item-img-4 {
  background-image: url(../img/services-4.jpg);
}

/* advantage */

.advantage {
  padding-bottom: 45px;
}

.advantage-title {
  margin-bottom: 30px;
}

.advantage-list {
  flex-wrap: wrap;
  justify-content: space-between
}

.advantage-svg {
  margin-bottom: 10px;
}

.advantage-item {
  width: 275px;
  margin-right: 23px;
  margin-bottom: 23px;
  padding: 40px 45px;
  border-radius: 15px;
  background-color: #fff;
}

.advantage-item:nth-child(4n) {
  margin-right: 0;
}

.advantage-item-descr {
  margin: 0;
  font-size: 16px;
  line-height: 30px;
  overflow-wrap: break-word;
}

/* placement */

.placement {}

.placement-title {
  margin-bottom: 45px;
}

.placement-list {
  flex-wrap: wrap;
  justify-content: space-between;
}

.placement-item {
  width: 374px;
  margin-bottom: 23px;
  margin-right: 23px;
  border-radius: 15px;
  background-color: #fff;
}

.placement-item:nth-child(3n) {
  margin-right: 0;
}

.placement-item-image {
  border-radius: 15px 15px 0 0;
}

.placement-item-wrap {
  padding: 40px 45px;
}

.placement-item-price {
  position: relative;
  margin: 0;
  margin-bottom: 16px;
  overflow-wrap: break-word;
}

.price-first {
  color: #999;
}

.price-number {
  font-weight: 700;
}

.price-last {}

.price-stars {
  position: absolute;
  right: 0;
}

.placement-item-star {}

.placement-item-title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  overflow-wrap: break-word;
}

.placement-item-location {
  margin: 0;
  margin-bottom: 20px;
  overflow-wrap: break-word;
  color: #999;
}

.placement-btn {
  max-width: 285px;
  border: 1px solid #cc9933;
  border-radius: 10px;
  padding: 13px 20px;
  overflow-wrap: break-word;
  color: #cc9933;
}

.placement-item-more {
  position: relative;
  background-size: cover;
  background-image: url(../img/placement-9.jpg);
}

.placement-item-more-link {
  position: absolute;
  width: 270px;
  bottom: 30px;
  left: 55px;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  overflow-wrap: break-word;
  color: #fff;
}

.placement-item-more-link-arrow {
  position: relative;
  top: 4px;
  right: -3px;
}

/* form */

.want {

}

.want-wrapper {
  background: #e9e9e9;
  padding: 38px 40px 70px;
  border-radius: 15px;
}

.want-title {
  padding-left: 0;
  padding-bottom: 20px;
}

.form {
  padding: 30px 30px;
  border-radius: 15px;
  background: #fff;
}

.form-item {
  position: relative;
  flex-direction: column;
  padding: 0 20px;
  border-right: 1px solid #e1e1e1;
}

.form-item:first-child {
  padding-left: 0;
}

.form-item-descr {
  width: 120px;
  flex-grow: 1;
  padding-bottom: 15px;
  font-size: 12px;
  line-height: 12px;
  overflow-wrap: break-word;
}

.form-select {
  padding-right: 20px;
  width: 170px;
  margin-left: -4px;
  line-height: 16px;
  border: none;
  appearance: none;
  background: #fff0;
  z-index: 2;
}

.form-input-date {
  position: relative;
  margin-left: -5px;
  line-height: 16px;
  border: none;
  background: #fff0;
  z-index: 2;
}

.form-select-icon {
  position: absolute;
  right: 20px;
  bottom: 7px;
  z-index: 1;
}

.form-input-icon {
  position: absolute;
  right: 20px;
  bottom: 5px;
  z-index: 1;
}

.form-input-number {
  width: 120px;
  border: none;
  border-bottom: 1px solid #e1e1e1;
}

.form-btn-container {
  width: 100%;
  padding-left: 20px;
  justify-content: right;
}

.form-bth {
  max-width: 125px;
  padding: 13px 30px;
  border: 1px solid #cc9933;
  border-radius: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: #cc9933;
}



