@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(''),
       url('../fonts/regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/regular.woff') format('woff'); /* Modern Browsers */
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local(''),
       url('../fonts/600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/600.woff') format('woff'); /* Modern Browsers */
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local(''),
       url('../fonts/700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/700.woff') format('woff'); /* Modern Browsers */
}

html {
	box-sizing: border-box;
}

body * {
  /* outline: 1px solid red; */
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
  height: 100%;
 	min-width: 320px;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* ---------- Glob ----------*/

.list-reset {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
}

/* Псевдоклассы для svg */
svg,
svg rect,
svg path,
svg circle {
  transition: all .3s ease-in-out;
}
.svg {
  /* display: flex; */
}

a {
  display: inline-flex;
}
a:focus {
  /* outline: none; */
  outline: 1px solid #9d5cd0;
  outline-offset: 3px;
}

/* ---------- My style ---------- */

header span,
footer span {
	color: #fff;
}
h1, h2, h3 {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 28px;
  line-height: 38px;
  font-weight: 400;
}
h3 {
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
}

.row {
  --bs-gutter-x: 30px;
}
.container {
  --bs-gutter-x: 15px;
}

/* ---------- header ---------- */

.header {
  background-color: #000;
}
.header .row {
  height: 45px;
}
.nav__burger svg {
  width: 25px;
  cursor: pointer;
}
.nav__burger:hover svg rect,
.nav__burger:hover svg path {
  fill: #9d5cd0;
}

.nav {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}
.nav__mobile {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  padding-top: 16px;
  padding-bottom: 26px;
  padding-left: 16px;
  visibility: hidden;
  opacity: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
  background-color: #000000f0;
  transition: .3s visibility linear, .3s opacity linear;
  z-index: 101;
}
.nav__mobile .nav__mobile-list {
  display: flex;
  flex-direction: column;
}
.nav__open {
  transition: .3s visibility linear, .3s opacity linear;
  visibility: visible;
  opacity: 1;
}
.nav__close svg {
  width: 15px;
  height: 15px;
  margin-bottom: 16px;
}

.header__logo {
  margin-right: 6px;
  padding-top: 5px;
}
.header__logo img {
  width: 97px;
}
.header__search {
  width: 18px;
  cursor: pointer;
}
.header__search:hover svg path {
  fill: #9d5cd0;
}


/* ---------- section-hero ---------- */

.hero {
  background-size: cover;
  background-image: url(../img/galery-1.jpg);
}
.hero__wrap {
  height: 310px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.hero__header {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}
.hero__text {
  margin-bottom: 42px;
  padding: 0 20px;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
}
.hero__btn {
  padding: 12px 19px;
  border-radius: 100px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  background-color: #9d5cd0;
}

/* ---------- section-about ---------- */
.about__wrap {
  padding-top: 50px;
  /* padding-right: 30px; */
  padding-bottom: 41px;
}
.about__header {
  margin-bottom: 12px;
  color: #333;
}
.about__text {
  font-size: 14px;
  line-height: 28px;
}

/* ---------- section galery ---------- */
.galery {
  background-image: url(../img/bg-galery-section-320.jpg);
  color: #fff;
}
.galery__wrap {
  padding-top: 50px;
  padding-bottom: 46px;
}
.galery__header {
  margin-bottom: 12px;
}
.galery__filters > span {
  display: flex;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
}


.choices {
  margin-bottom: 38px;
  border-color: #fff;
}
.choices[data-type*="select-one"]::after {
	right: 25px;
	top: 11px;
	margin-top: 0;
	border-style: none;
	content: url(../img/choises-down.svg);
	z-index: 1;
}
.choices[data-type*="select-one"].is-open::after{
	margin: 0;
	border-color: none;
	content: url(../img/choises-up.svg);
	z-index: 1;
}
.is-open .choices__inner {
	border-radius: 6px;}

.choices__list--dropdown .is-selected {
  display: none;
}
.choices__inner {
  min-height: 40px;
  background-color: #fff0;
  border-radius: 6px;
}
.choices[data-type*="select-one"] .choices__inner {
	padding: 5px 5px 5px 11px;
}
.choices__placeholder {
  opacity: 1;
}
.choices__item--selectable {
  font-size: 16px;
}
.choices__list[aria-expanded] {
  background-color: #000;
 }
.choices__list--dropdown > div {
  color: #999;
}
.is-open .choices__list[aria-expanded] {
	border-radius: 6px;
	border: 1px solid #fff;
}
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
	background-color: #9d5cd0;
  color: #fff;
}


.filters__labels-wrap {
  margin-bottom: 37px;
}
.filters__check {
  display: flex;
  width: fit-content;
  padding-left: 24px;
  color: #cacaca;
}
.filters__check:not(:last-child) {
  margin-bottom: 13px;
}
.filters__check-input {
  position: absolute;
  margin-right: 5px;
  appearance: none;
}
.filters__check-box {
  position: absolute;
  width: 1em;
  height: 1em;
  margin-left: -26px;
  margin-bottom: -2px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/check-off.svg);
}

.filters__check:hover .filters__check-box {
  background-image: url(../img/check-on.svg);
}

.filters__check-input:focus-visible {
  outline:none;
}
.filters__check-input:focus-visible ~ .filters__input-placeholder {
  color: #c283f3;
}
.filters__check-input:focus-visible ~ .filters__check-box {
  background-image: url(../img/check-on.svg);
}

.filters__check-input:checked ~ .filters__check-box {
  background-image: url(../img/check-is.svg);
}
.filters__check-input:checked ~ .filters__input-placeholder {
  color: #c283f3;
}

.swiper {
  width: 100%;
  color: #000;
}
#swiper-galery .swiper-wrapper {
  padding-bottom: 54px;
}
#swiper-galery .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#swiper-galery .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#swiper-galery .swiper-button-next1,
#swiper-galery .swiper-button-prev1 {
  position: absolute;
  bottom: 0;
  color: #fff;
  z-index: 100;
}
#swiper-galery .swiper-button-next1 {
  right: 28%;
}
#swiper-galery .swiper-button-prev1 {
  left: 28%;
}
#swiper-galery .swiper-pagination {
  bottom: 7px;
  color: #fff;
}

/* ---------- section-catalog ---------- */
.catalog__wrap {
  padding-top: 50px;
  padding-bottom: 50px;
}
.catalog__header {
  margin-bottom: 13px;
}

.catalog__date-list {
  flex-direction: column;
  margin-bottom: 50px;
}
.catalog__date-item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: -1px;
  padding: 20px 0 20px 0;
  text-align: left;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  transition-property: border-color, color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out
}
.catalog__date-item > span {
  margin-right: auto;
  transition: .3s color ease-in-out;
}
.catalog__date-item > svg {
  width: 30px;
  height: 30px;
}
.catalog__date-item > svg path:first-child {
  fill: #ececec;
}
.catalog__date-item > svg path:last-child {
  stroke: #000;
}
.catalog__artists {
  padding: 20px 0 20px 0;
  line-height: 32px;
}
.ui-accordion-header-active svg {
  transform: rotate(180deg);
}
/* Псевдоклассы */
.catalog__date-item:focus-visible {
  outline: none;
  border-color: #9d5cd0;
  z-index: 1;
}
.catalog__date-item:focus-visible span {
  color: #fff;
  background-color: #9d5cd0;
}
.catalog__date-item:hover {
  border-color: #9d5cd0;
  z-index: 1;
}
.catalog__date-item:hover span {
  color: #9d5cd0;
}
.catalog__date-item:hover svg  path:first-child,
.catalog__date-item:focus-visible svg path:first-child {
  fill: #d1a9f0;
}
.catalog__date-item:active span {
  color: #7943a4;
  background-color: none;
}
.catalog__date-item:active svg  path:first-child {
  stroke: #9d5cd0;
}
.empty__img {
  width: 100%;
}
.empty__header {
  font-weight: 600;
  font-size: 18px;
  /* line-height: 32px; */
}
.empty__text {
  /* font-size: 16px; */
  line-height: 22px;
}
.info__img {
  margin-bottom: 19px;
}
.info__header {
  margin-bottom: 7px;
  font-size: 24px;
  line-height: 33px;
}
.info__date {
  margin-bottom: 14px;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}
.info__text {
  font-size: 16px;
  line-height: 32px;
}

/* ---------- section events ---------- */

.events__wrap {
  margin-bottom: 40px;
}
.events__header {
  margin-bottom: 10px;
}
.events__card {
  border: 1px solid #cacaca
}
.card__wrap {
  padding: 14px 33px 48px 22px;
  text-align: left;
  background-color: #fff;
}
.card__date {
  margin-right: -15px;
  margin-bottom: 9px;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #999;
}
.card__body {
  height: 344px;
}
.card__header {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}
.card__text {
  font-size: 16px;
  line-height: 32px;
}
.card__link {
  padding-left: 5px;
  font-size: 16px;
  line-height: 32px;
}

#swiper-events .swiper-wrapper {
  padding-bottom: 40px;
}
#swiper-events .swiper-pagination {
  bottom: 7px;
}
#swiper-events .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  margin-right: 7px;
  margin-left: 7px;
  background-color: #cacaca;
}
#swiper-events .swiper-pagination-bullet-active {
  background-color: #666;
}

/* ---------- section projects ---------- */

.projects__wrap {
  padding-bottom: 45px;
}
.projects__header {
  margin-bottom: 12px;
}
.projects__text {
  margin-right: -1px;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 32px;
  color: #333;
}
.projects__text svg {
  width: 17px;
  margin-bottom: -2px;
}
.projects__text svg path:first-child {
  fill: #fff;
  stroke: #9d5cd0;
}
.projects__text svg path:last-child {
  fill: #000;
}

.projects__text svg:hover path:first-child {
  fill: #d1a9f0;
}
.projects__text svg:active path:first-child {
  fill: #9d5cd0;
  stroke: #9d5cd0;
}
.projects__text svg:active path:last-child {
  fill: #fff;
}

.projects__partners-header {
  margin-bottom: 10px;
}

#swiper-partners .swiper-slide {
  display: flex;
  justify-content: center;
}
#swiper-partners a {
  width: 195px;
  height: 65px;
  /* background-size: 55%; */
  background-position: center center;
  background-repeat: no-repeat;
}
#swiper-partners a {
  border: 1px solid #cacaca;
}
#swiper-partners a:active {
  border: 1px solid #9d5cd0;
  /* outline: 1px solid green; */
  /* background-color: blue; */
}
#swiper-partners .swiper-button-next1,
#swiper-partners .swiper-button-prev1 {
  position: absolute;
  bottom: 15px;
  color: #fff;
  z-index: 100;
}
#swiper-partners .swiper-button-next1 {
  right: 0;
}
#swiper-partners .swiper-button-prev1 {
  left: 0;
}

#swiper-partners #slide-1 {
  background-size: 105px;
  background-image: url(../img/projects-partners-1-grey.png);
}
#swiper-partners #slide-1:hover {
  background-image: url(../img/projects-partners-1-color.png);
}
#swiper-partners #slide-2 {
  background-size: 141px;
  background-image: url(../img/projects-partners-2-grey.png);
}
#swiper-partners #slide-2:hover {
  background-image: url(../img/projects-partners-2-color.png);
}
#swiper-partners #slide-3 {
  background-size: 117px;
  background-image: url(../img/projects-partners-3-grey.png);
}
#swiper-partners #slide-3:hover {
  background-image: url(../img/projects-partners-3-color.png);
}
#swiper-partners #slide-4 {
  background-size: 53px;
  background-image: url(../img/projects-partners-4-grey.png);
}
#swiper-partners #slide-4:hover {
  background-image: url(../img/projects-partners-4-color.png);
}
#swiper-partners #slide-5 {
  background-size: 75px;
  background-image: url(../img/projects-partners-5-grey.png);
}
#swiper-partners #slide-5:hover {
  background-image: url(../img/projects-partners-5-color.png);
}
#swiper-partners #slide-6 {
  background-size: 110px;
  background-image: url(../img/projects-partners-6-grey.png);
}
#swiper-partners #slide-6:hover {
  background-image: url(../img/projects-partners-6-color.png);
}
#swiper-partners #slide-7 {
  background-size: 124px;
  background-image: url(../img/projects-partners-7-grey.png);
}
#swiper-partners #slide-7:hover {
  background-image: url(../img/projects-partners-7-color.png);
}
#swiper-partners #slide-8 {
  background-size: 80px;
  background-image: url(../img/projects-partners-8-grey.png);
}
#swiper-partners #slide-8:hover {
  background-image: url(../img/projects-partners-8-color.png);
}
#swiper-partners #slide-9 {
  background-size: 100px;
  background-image: url(../img/projects-partners-9-grey.png);
}
#swiper-partners #slide-9:hover {
  background-image: url(../img/projects-partners-9-color.png);
}

/* ---------- contacts ---------- */
.contacts__header {
  margin-bottom: 1px;
}
.form {
	display: flex;
	flex-direction: column;
  width: 100%;
}

address {
  margin-bottom: 20px;
  font-style:normal;
  font-size: 14px;
  line-height: 19px;
}

.form__input {
	width: 100%;
	height: 40px;
	padding-left: 23px;
  border: none;
	border: 1px solid #333;
	border-radius: 20px;
	font-size: 16px;
	line-height: 19px;
}
.form__input:not(:last-child) {
  margin-bottom: 20px;
}
.form__input::placeholder {
	color: #999;
}
.form__input:focus {
	outline: none;
}
.form__input:hover {
	background-color: #ececec;
}
#contacts__form .btn {
	width: fit-content;
  margin-bottom: 20px;
	padding: 10px 33px;
  border: 2px solid #9d5cd0;
	border-radius: 30px;
	font-weight: 700;
  font-size: 12px;
  line-height: 16px;
	cursor: pointer;
	color: #9d5cd0;
}

.footer__contacts-wrap {
  padding-bottom: 17px;
}

.contacts__messages {

}
.contacts__messages p {
  margin-bottom: 7px;
  font-size: 18px;
  line-height: 32px;
  color: #333;
}
.contacts__messages svg {
  width: 50px;
  height: 50px;
}
.contacts__messages a:not(:last-child) {
  margin-right: 15px;
}

.whatsapp rect {
  fill: #30bf39;
  stroke: #fff;
}
a:hover .whatsapp rect {
  fill: #30bf3950;
}
a:focus-visible .whatsapp rect {
  fill: #30bf3950;
}
a:active .whatsapp rect {
  fill: #30bf39;
  stroke: #9d5cd0;
}

.telegram path:nth-child(2n-1) {
  fill: #26a5e4;
  stroke: #fff;
}
a:hover .telegram path:nth-child(2n-1) {
  fill: #26a5e450;
}
a:focus-visible .telegram path:nth-child(2n-1) {
  fill: #26a5e450;
}
a:active .telegram path:nth-child(2n-1) {
  fill: #26a5e4;
  stroke: #9d5cd0;
}

.footer__map-wrap {}
#map {
  width: 320px;
  height: 320px;
}
[class*="ground-pane"] {
	filter: grayscale(1);
}
[class*="controls"] {
	display: none;
}

.footer__bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #000;
}
.bottom__social {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.bottom__social a:not(:last-child) {
  margin-right: 20px;
}

.vk,
.ok {
  width: 50px;
  height: 50px;
}
.vk path,
.ok path {
  fill: #cacaca;
}
a:hover .vk path,
a:hover .ok path {
  fill: #fff;
}
a:focus-within .vk path,
a:focus-within .ok path {
  fill: #fff;
}
a:active .vk path,
a:active .ok path {
  fill: #9d5cd0;
}

.bottom__logo {
  display: flex;
  justify-content: center;
}
.bottom__logo img {
  width: 97px;
}
/* ---------- footer ---------- */


/* sm */
@media (min-width: 576px) {

  /* ---------- header---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- footer ---------- */

}

/* md */
@media (min-width: 768px) {

  /* ---------- header---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- footer ---------- */

}

/* lg */
@media (min-width: 992px) {

  /* ---------- header---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- footer ---------- */

}

/* xl */
@media (min-width: 1200px) {

  /* ---------- header---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- footer ---------- */

}

 /* xxl */
@media (min-width: 1400px) {

  /* ---------- header---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- footer ---------- */

}
