@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(''),
       url('../fonts/regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/regular.woff') format('woff'); /* Modern Browsers */
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local(''),
       url('../fonts/600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/600.woff') format('woff'); /* Modern Browsers */
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local(''),
       url('../fonts/700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/700.woff') format('woff'); /* Modern Browsers */
}

html {
	box-sizing: border-box;
}

body * {
  /* outline: 1px solid red; */
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
  height: 100%;
 	min-width: 320px;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* ---------- Glob ----------*/

.list-reset {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
}

/* Псевдоклассы для svg */
svg,
svg rect,
svg path,
svg circle {
  transition: all .3s ease-in-out;
}
.svg {
  display: flex;
}

/* ---------- My style ---------- */

header span,
footer span {
	color: #fff;
}
h1, h2, h3 {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 28px;
  line-height: 38px;
  font-weight: 400;
}
h3 {
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
}

.row {
  --bs-gutter-x: 30px;
}
.container {
  --bs-gutter-x: 15px;
}

/* ---------- header ---------- */

.header {
  background-color: #000;
}
.header .row {
  height: 45px;
}
.burger-menu img {
  width: 25px;
}
.header__logo img {
  width: 97px;
  margin-right: 6px;
  padding-top: 5px;
}
.header__search img {
  width: 18px;
}

/* ---------- section-hero ---------- */

.hero {
  background-size: cover;
  background-image: url(../img/galery-1.jpg);
}
.hero__wrap {
  height: 310px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.hero__header {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}
.hero__text {
  margin-bottom: 42px;
  padding: 0 20px;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
}
.hero__btn {
  padding: 12px 19px;
  border-radius: 100px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  background-color: #9d5cd0;
}

/* ---------- section-about ---------- */
.about__wrap {
  padding-top: 50px;
  /* padding-right: 30px; */
  padding-bottom: 41px;
}
.about__header {
  margin-bottom: 12px;
  color: #333;
}
.about__text {
  font-size: 14px;
  line-height: 28px;
}

/* ---------- section galery ---------- */
.galery {
  background-image: url(../img/bg-galery-section-320.jpg);
  color: #fff;
}
.galery__wrap {
  padding-top: 50px;
  padding-bottom: 46px;
}
.galery__header {
  margin-bottom: 12px;
}
.galery__filters > span {
  display: flex;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
}


.choices {
  margin-bottom: 38px;
  border-color: #fff;
}
.choices[data-type*="select-one"]::after {
	right: 25px;
	top: 11px;
	margin-top: 0;
	border-style: none;
	content: url(../img/choises-down.svg);
	z-index: 1;
}
.choices[data-type*="select-one"].is-open::after{
	margin: 0;
	border-color: none;
	content: url(../img/choises-up.svg);
	z-index: 1;
}
.is-open .choices__inner {
	border-radius: 6px;}

.choices__list--dropdown .is-selected {
  display: none;
}
.choices__inner {
  min-height: 40px;
  background-color: #fff0;
  border-radius: 6px;
}
.choices[data-type*="select-one"] .choices__inner {
	padding: 5px 5px 5px 11px;
}
.choices__placeholder {
  opacity: 1;
}
.choices__item--selectable {
  font-size: 16px;
}
.choices__list[aria-expanded] {
  background-color: #000;
 }
.choices__list--dropdown > div {
  color: #999;
}
.is-open .choices__list[aria-expanded] {
	border-radius: 6px;
	border: 1px solid #fff;
}
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
	background-color: #9d5cd0;
  color: #fff;
}


.filters__labels-wrap {
  margin-bottom: 37px;
}
.filters__check {
  display: flex;
  width: fit-content;
  padding-left: 24px;
  color: #cacaca;
}
.filters__check:not(:last-child) {
  margin-bottom: 13px;
}
.filters__check-input {
  position: absolute;
  margin-right: 5px;
  appearance: none;
}
.filters__check-box {
  position: absolute;
  width: 1em;
  height: 1em;
  margin-left: -26px;
  margin-bottom: -2px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/check-off.svg);
}

.filters__check:hover .filters__check-box {
  background-image: url(../img/check-on.svg);
}

.filters__check-input:focus-visible {
  outline:none;
}
.filters__check-input:focus-visible ~ .filters__input-placeholder {
  color: #c283f3;
}
.filters__check-input:focus-visible ~ .filters__check-box {
  background-image: url(../img/check-on.svg);
}

.filters__check-input:checked ~ .filters__check-box {
  background-image: url(../img/check-is.svg);
}
.filters__check-input:checked ~ .filters__input-placeholder {
  color: #c283f3;
}

.swiper {
  width: 100%;
  /* height: 100%; */
  color: #000;
}
.swiper-wrapper {
  padding-bottom: 54px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-next1,
.swiper-button-prev1 {
  position: absolute;
  bottom: 0;
  color: #fff;
  z-index: 100;
}
.swiper-button-next1 {
  right: 28%;
}
.swiper-button-prev1 {
  left: 28%;
}
.swiper-pagination {
  bottom: 7px;
  color: #fff;
}

/* ---------- section-catalog ---------- */
.catalog__wrap {
  padding-top: 50px;
  padding-bottom: 50px;
}
.catalog__header {
  margin-bottom: 13px;
}

.catalog__date-list {
  flex-direction: column;
}
.catalog__date-item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: -1px;
  padding: 20px 0 20px 0;
  text-align: left;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  transition-property: border-color, color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out
}
.catalog__date-item > span {
  margin-right: auto;
  transition: .3s color ease-in-out;
}
.catalog__date-item > svg {
  width: 30px;
  height: 30px;
}
.catalog__date-item > svg path:first-child {
  fill: #ececec;
}
.catalog__date-item > svg path:last-child {
  stroke: #000;
}
.catalog__artists {
  padding: 20px 0 20px 0;
  line-height: 32px;
}
.ui-accordion-header-active svg {
  transform: rotate(180deg);
}
/* Псевдоклассы */
.catalog__date-item:focus-visible {
  outline: none;
  border-color: #9d5cd0;
  z-index: 1;
}
.catalog__date-item:focus-visible span {
  color: #fff;
  background-color: #9d5cd0;
}
.catalog__date-item:hover {
  border-color: #9d5cd0;
  z-index: 1;
}
.catalog__date-item:hover span {
  color: #9d5cd0;
}
.catalog__date-item:hover svg  path:first-child,
.catalog__date-item:focus-visible svg path:first-child {
  fill: #d1a9f0;
}
.catalog__date-item:active span {
  color: #7943a4;
  background-color: none;
}
.catalog__date-item:active svg  path:first-child {
  stroke: #9d5cd0;
}


/* ---------- section ---------- */
/* ---------- footer ---------- */


/* sm */
@media (min-width: 576px) {

  /* ---------- header---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- footer ---------- */

}

/* md */
@media (min-width: 768px) {

  /* ---------- header---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- footer ---------- */

}

/* lg */
@media (min-width: 992px) {

  /* ---------- header---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- footer ---------- */

}

/* xl */
@media (min-width: 1200px) {

  /* ---------- header---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- footer ---------- */

}

 /* xxl */
@media (min-width: 1400px) {

  /* ---------- header---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- section ---------- */
  /* ---------- footer ---------- */

}
