@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(''),
    url('../fonts/regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/regular.woff') format('woff'); /* Modern Browsers */
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local(''),
    url('../fonts/600.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/600.woff') format('woff'); /* Modern Browsers */
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local(''),
    url('../fonts/700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/700.woff') format('woff'); /* Modern Browsers */
}

html {
	box-sizing: border-box;
}
body * {
  /* outline: 1px solid #ff000000; */
}
.stop-scroll {
  overflow: hidden;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
a {
	color: inherit;
	text-decoration: none;
}
body {
  height: 100%;
 	min-width: 320px;
	font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* ---------- Glob ----------*/
:root {
  --header-height: 45px;
}
.list-reset {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.btn-reset {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
}
svg,
svg rect,
svg path,
svg circle {
  transition: all .3s ease-in-out;
}
a,
button {
  transition: all .3s ease-in-out;
}
a {
  display: inline-flex;
  width: fit-content;
}
.header button,
.header a {
  outline-offset: 3px;
  outline: 2px solid #9d5cd000;
}
svg {
  display: flex;
}
* > svg {
  width: 100%;
  height: 100%;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  overflow: hidden;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 28px;
  line-height: 38px;
  font-weight: 400;
  max-height: 200px;
}
h3 {
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
}
img {
  width: 100%;
}
.row {
  --bs-gutter-x: 30px;
}
.container {
  --bs-gutter-x: 15px;
}
.close-btn svg {
  width: 15px;
  height: 15px;
}
.close-btn:hover {
  cursor: pointer;
}
.close-btn:hover svg rect {
  fill: #d1a9f0;
}
.close-btn:focus-visible {
  outline-offset: 3px;
  outline: 2px solid #9d5cd0;
}
.swiper-button-next,
.swiper-button-prev {
  width: fit-content;
  height: fit-content;
  z-index: 11;
}
.swiper-button-next::after,
.swiper-button-prev::after {
 content: none;
}

/* ---------- Мобильное меню ---------- */
.nav__mobile {
  position: fixed;
  width: 0;
  height: 100vh;
  top: 0;
  margin-left: -15px;
  visibility: hidden;
  overflow: hidden;
  font-weight: 600;
  line-height: 32px;
  background-color: #000000f0;
  transition: .3s all ease-in-out;
  z-index: 1;
}
.nav-mobile--active {
  width: 100%;
  visibility: visible;
  transition: .3s all ease-in-out;
}
.nav__mobile .row {
  height: 100vh;
  padding-top: 46px;
  padding-bottom: 28px;
}
.nav__burger {
  position: relative;
  width: 25px;
  height: 18px;
  z-index: 2;
}
.nav__burger-line {
  position: absolute;
  height: 2px;
  left: 0;
  background-color: #fff;
  transform-origin: center;
  transition: .3s all ease-in-out;
}
.nav__burger-line-1 {
  width: 100%;
  top: 0;
}
.nav__burger-line-2 {
  width: 60%;
  top: calc(50% - 1px);
  opacity: 1;
}
.nav__burger-line-3 {
  width: 40%;
  bottom: 0;
}
.nav-burger--close .nav__burger-line-1 {
  top: 50%;
  width: 18px;
  transform: translateY(-50%) rotate(45deg);
}
.nav-burger--close .nav__burger-line-2 {
  opacity: 0;
}
.nav-burger--close .nav__burger-line-3 {
  top: 50%;
  width: 18px;
  transform: translateY(-50%) rotate(-45deg);
}

.nav-mobile__list {
  flex-direction: column;
  white-space: nowrap;
  color: #fff;
}
.nav-mobile__list-item a {
  display: inline-flex;
  padding: 0 5px;
  margin-left: -5px;
}
.nav-mobile__list-item a:hover {
  color: #c283f3;
}
.nav-mobile__list-item a:focus-visible {
  outline: none;
  color: #fff;
  background-color: #7943a4;
}
.nav-mobile__list-item a:active {
  color: #7943a4;
}
.nav-mobile__close-btn {
  display: flex;
  width: fit-content;
  margin-bottom: 16px;
}
.nav-mobile__login-link-wrap {
  display: flex;
  flex: 1;
  align-items: flex-end;
}
.nav-mobile__login-link {
  display: flex;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  padding: 10px 30px;
  border-radius: 20px;
  border: 2px solid #9d5cd0;
  outline-offset: 2px;
  outline: 2px solid #9d5cd000;
  color: #fff;
}
.nav-mobile__login-link svg {
  margin-top: 4px;
  margin-right: 4px;
  width: 9px;
  height: 9px;
}
.nav-mobile__login-link:hover {
  background-color: #9d5cd0;
}
.nav-mobile__login-link:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #c283f3;
}
.nav-mobile__login-link:active {
  border-color: #d1a9f0;
}

/* ---------- header ---------- */
.header {
  background-color: #000;
}
.header-wrap {
  height: 45px;
  padding-top: 9px;
  padding-bottom: 11px;
}







/* --- My style --- */
.nav__burger:hover svg rect,
.nav__burger:hover svg path {
  fill: #d1a9f0;
}
.nav__burger:focus-visible {
  outline-offset: 3px;
  outline: 2px solid #9d5cd0;
}
.nav__burger:active svg rect,
.nav__burger:active svg path {
  fill: #9d5cd0;
}
.header__logo-wrap {
  width: 97px;
  height: 25px;
  padding-top: 3px;
}
.header__logo-wrap a {
 width: 100%;
}
.header__logo-wrap a:focus-visible {
  outline-offset: 3px;
  outline: 2px solid #9d5cd0;
}
.header__search {
  width: 18px;
}
/* --- My style --- */
.header__search:hover svg path {
  fill: #d1a9f0;
}
.header__search:focus-visible {
  outline-offset: 3px;
  outline: 2px solid #9d5cd0;
}
.header__search:active svg path {
  fill: #9d5cd0;
}
.header__search-big-wrap {
  position: absolute;
  display: flex;
  justify-content: end;
  width: 100%;
  height: 45px;
  visibility: hidden;
  opacity: 0;
  transition: .3s opacity ease-in-out, .3s visibility ease-in-out;
  z-index: 3;
}
.header__search-big {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #000;

}
.search__open {
  visibility: visible;
  opacity: 1;
  transition: .3s opacity ease-in-out, .3s visibility ease-in-out;
}
.header__search-icon {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.header__search-big input {
  width: 100%;
  height: 20px;
  margin-right: 10px;
  margin-bottom: 4px;
  padding: 0;
  padding-bottom: 2px;
  border: none;
  border-bottom: 1px solid #fff;
  font-size: 13px;
  color: #fff;
  background-color: #000;
}
input[type="search"]::-moz-placeholder {
  color: #fff;
  opacity: .85;
}
.header__search-big input:hover,
.header__search-big input:active,
.header__search-big input:focus-visible {
  border-bottom-color: #c283f3;
}
.header__search-big input:focus-visible {
  outline: none;
}
.header__search-close  {
  width: 18px;
  height: 18px;
}

/* ---------- section-hero start ---------- */
.hero {
  background-size: cover;
  background-image: url(../img/galery-1.jpg);
}
.hero__wrap {
  height: 309px;
  padding-top: 28px;
  text-align: center;
}
.hero__header {
  max-height: 100px;
  margin-bottom: 3px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  overflow: hidden;
  color: #fff;
}
.hero__text {
  min-height: 106px;
  padding: 0 20px;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
}
.hero__btn {
  width: fit-content;
  max-width: 100%;
  padding: 9px 15px;
  border-radius: 100px;
  border: 3px solid #9d5cd0;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff;
  background-color: #9d5cd0;
}
.hero__btn:hover {
  border: 3px solid #d1a9f0;
}
.hero__btn:focus-visible {
  border: 3px solid #9d5cd0;
  outline-offset: 3px;
  outline: 2px solid #c283f3;
}
.hero__btn:active {
  border: 3px solid #d1a9f0;
  background-color: #7943a4;
}
/* ---------- section-hero end ---------- */

/* ---------- section-about start---------- */
.about__wrap {
  padding-top: 50px;
  padding-bottom: 42px;
}
.about__header {
  margin-bottom: 12px;
  color: #333;
}
.about__text {
  font-size: 14px;
  line-height: 28px;
}
/* ---------- section-about end---------- */

/* ---------- section galery start ---------- */
.galery {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/bg-galery-section-320.jpg);
  color: #fff;
}
.galery__wrap {
  padding-top: 50px;
  padding-bottom: 50px;
}
.galery__header {
  margin-bottom: 12px;
}
.galery__filters > span {
  display: flex;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
}

/* --- Input в галерее start ---- */
.choices {
  margin-bottom: 38px;
  border-color: #fff;
}
.choices[data-type*="select-one"]::after {
	right: 25px;
	top: 11px;
	margin-top: 0;
	border-style: none;
	content: url(../img/choises-down.svg);
	z-index: 1;
}
.choices[data-type*="select-one"].is-open::after{
	margin: 0;
	border-color: none;
	content: url(../img/choises-up.svg);
	z-index: 1;
}
.is-open .choices__inner {
	border-radius: 6px;}

.choices__list--dropdown .is-selected {
  display: none;
}
.choices__inner {
  min-height: 40px;
  background-color: #fff0;
  border-radius: 6px;
  transition: .3s background-color ease-in-out;
}
.choices:hover .choices__inner {
  background-color: #ffffff30;
}
.choices:focus-visible .choices__inner {
  background-color: #ffffff30;
}
.choices[data-type*="select-one"] .choices__inner {
	padding: 5px 5px 5px 11px;
}
.choices__placeholder {
  opacity: 1;
}
.choices__item--selectable {
  font-size: 16px;
}
.choices__list--dropdown > div {
  color: #999;
}
.is-open .choices__list[aria-expanded] {
	border-radius: 6px;
	border: 1px solid #fff;
}
.choices__list[aria-expanded] {
  background-color:#000;
}
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: #ffffff30;
  color: #fff;
}
/* --- Input в галерее end ---- */

.filters__labels-wrap {
  margin-bottom: 35px;
}
.filters__check {
  display: flex;
  width: fit-content;
  padding-left: 24px;
  line-height: 18px;
  color: #cacaca;
}
.filters__check:not(:last-child) {
  margin-bottom: 14px;
}
.filters__check-input {
  position: absolute;
  margin-right: 5px;
  appearance: none;
}
.filters__check-box {
  position: absolute;
  width: 1em;
  height: 1em;
  margin-left: -26px;
  margin-bottom: -2px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/check-off.svg);
}
.filters__check:hover .filters__check-box {
  background-image: url(../img/check-on.svg);
}
.filters__check-input:focus-visible {
  outline:none;
}
.filters__check-input:focus-visible ~ .filters__input-placeholder {
  color: #c283f3;
}
.filters__check-input:focus-visible ~ .filters__check-box {
  background-image: url(../img/check-on.svg);
}

.filters__check-input:checked ~ .filters__check-box {
  background-image: url(../img/check-is.svg);
}
.filters__check-input:checked ~ .filters__input-placeholder {
  color: #c283f3;
}
.swiper {
  width: 100%;
  color: #000;
}
#swiper-galery .swiper-wrapper {
  padding-bottom: 50px;
}
#swiper-galery .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#swiper-galery .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#swiper-galery .swiper-button-next,
#swiper-galery .swiper-button-prev {
  top: auto;
  bottom: 0;
}
#swiper-galery .swiper-button-next {
  right: 28%;
}
#swiper-galery .swiper-button-prev {
  left: 28%;
}
#swiper-galery .swiper-button-next:hover svg path:nth-child(2n-1),
#swiper-galery .swiper-button-prev:hover svg path:nth-child(2n-1) {
  fill: #9d5cd0;
}
#swiper-galery .swiper-button-next:hover svg path:nth-child(2n),
#swiper-galery .swiper-button-prev:hover svg path:nth-child(2n) {
  stroke: #9d5cd0;
}
#swiper-galery .swiper-button-next:focus-visible,
#swiper-galery .swiper-button-prev:focus-visible {
  outline: none;
}
#swiper-galery .swiper-button-next:focus-visible svg path:nth-child(2n),
#swiper-galery .swiper-button-prev:focus-visible svg path:nth-child(2n) {
  stroke: #000;
}
#swiper-galery .swiper-button-next:active svg path:nth-child(2n),
#swiper-galery .swiper-button-prev:active svg path:nth-child(2n) {
  stroke: #000;
}
#swiper-galery .swiper-button-next:active svg path:nth-child(2n-1),
#swiper-galery .swiper-button-prev:active svg path:nth-child(2n-1) {
  fill: #7943a4;
}
#swiper-galery .swiper-pagination {
  max-width: 60px;
  max-height: 20px;
  top: auto;
  bottom: 5px;
  left: 40%;
  overflow: hidden;
  color: #fff;
}
/* ---------- section galery end ---------- */

/* ---------- section-catalog start---------- */
.catalog__wrap {
  padding-top: 50px;
  padding-bottom: 49px;
}
.catalog__header {
  margin-bottom: 13px;
}
.catalog__text {
  font-size: 16px;
  line-height: 32px;
}
.catalog__date-list {
  flex-direction: column;
  margin-bottom: 50px;
}
.catalog__date-item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: -1px;
  padding: 20px 30px 20px 0;
  text-align: left;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  transition-property: border-color, color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out
}
.catalog__date-item > span {
  margin-right: auto;
  transition: .3s color ease-in-out;
}
.catalog__date-item > svg {
  position: absolute;
  width: 30px;
  right: 0;
  transform: rotate(-180deg);
}
.ui-accordion-header-active svg {
  transform: rotate(0deg);
}

/* ---- Псевдоклассы аккордиона start---- */
.catalog__date-item:hover {
  border-color: #9d5cd0;
  z-index: 1;
}
.catalog__date-item:hover span {
  color: #9d5cd0;
}
.catalog__date-item:hover svg  path:first-child {
  fill: #d1a9f0;
}
.catalog__date-item:focus-visible {
  outline: none;
  border-color: #9d5cd0;
  z-index: 1;
}
.catalog__date-item:focus-visible span {
  color: #fff;
  background-color: #9d5cd0;
}
.catalog__date-item:focus-visible svg path:first-child {
  fill: #d1a9f0;
}
.catalog__date-item:active span {
  color: #7943a4;
  background-color: none;
}
.catalog__date-item:active svg  path:first-child {
  stroke: #9d5cd0;
}
/* ---- Псевдоклассы аккордиона end ---- */

.catalog__artists {
  padding: 21px 0 20px 0;
  line-height: 31px;
}
.catalog__artists a {
  border-bottom: 1px solid #fff;
  display: table;
}

/* ---- Псевдоклассы пунктов аакордиона start ---- */
.catalog__artists a:hover {
  border-bottom: 1px solid #9d5cd0;
}
.catalog__artists a:focus-visible {
  outline: none;
  background-color: #7943a4;
}
/* ---- Псевдоклассы пунктов аакордиона end ---- */

.empty__img {
  width: 100%;
}
.empty__header {
  font-weight: 600;
  font-size: 18px;
}
.empty__text {
  line-height: 22px;
}
.info__img {
  margin-bottom: 17px;
}
.info__header {
  margin-bottom: 7px;
  font-size: 24px;
  line-height: 33px;
}
.info__date {
  margin-bottom: 14px;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}
.info__text {
  font-size: 16px;
  line-height: 32px;
}
/* ---------- section-catalog end---------- */

/* ---------- section events start---------- */
.events__wrap {
  padding-bottom: 47px;
}
.events__header {
  margin-bottom: 10px;
}
.events__card {
  border: 1px solid #cacaca
}
.card__wrap {
  padding: 20px 33px 50px 22px;
  text-align: left;
  background-color: #fff;
}
.card__date {
  max-height: 35px;
  margin-right: -15px;
  margin-bottom: 9px;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  overflow: hidden;
  color: #999;
}
.card__body {
  height: 344px;
}
.card__header {
  max-height: 100px;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  overflow: hidden;
}
.card__text {
  max-height: 220px;
  font-size: 16px;
  line-height: 32px;
  overflow: hidden;
}
.card__link {
  max-height: 40px;
  display: inline-block;
  align-items: center;
  padding-top: 8px;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
}
.card__link span {
  height: 20px;
  font-size: 16px;
  line-height: 14px;
  color: #9d5cd0;
  border-bottom: 1px solid #9d5cd0;
}
.card__link:hover span {
  border-color: #7943a4;
  color: #7943a4;
}
.card__link:focus-visible {
  outline: none;
  background-color: #9d5cd0;
}
.card__link:focus-visible span {
  border-color: #fff;
  color: #fff;
}
.card__link:active span {
  border-color: #333;
  color: #333;
}

#swiper-events .swiper-wrapper {
  padding-bottom: 34px;
}
#swiper-events .swiper-pagination {
  bottom: 0;
}
#swiper-events .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  margin-right: 7px;
  margin-left: 7px;
  background-color: #cacaca;
}
#swiper-events .swiper-pagination-bullet-active {
  background-color: #666;
}
#swiper-events .card__head  {
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.head-1 {
  background-image: url(../img/events-card-head-320-1.jpg);
}
.head-2 {
  background-image: url(../img/events-card-head-320-2.jpg);
}
.head-3 {
  background-image: url(../img/events-card-head-320-3.jpg);
}
.head-4 {
  background-image: url(../img/events-card-head-320-4.jpg);
}
.head-5 {
  background-image: url(../img/events-card-head-320-5.jpg);
}
/* ---------- section events end---------- */

/* ---------- section projects start ---------- */
.projects__wrap {
  padding-bottom: 46px;
}
.projects__header {
  margin-bottom: 12px;
}
.projects__text {
  margin-right: -1px;
  margin-bottom: 51px;
  font-size: 16px;
  line-height: 32px;
  color: #333;
}
.projects__text svg {
  display: inline-flex;
  width: 17px;
  margin-bottom: -2px;
}

/* ---- Псевдоклассы иконок тултипов start ---- */
.projects__text svg:hover path:first-child {
  fill: #d1a9f0;
}
.projects__text svg:focus-visible path:first-child {
  fill: #d1a9f0;
}
.projects__text svg:active path:first-child {
  fill: #9d5cd0;
  stroke: #9d5cd0;
}
.projects__text svg:active path:last-child {
  fill: #fff;
}
.projects__partners-header {
  margin-bottom: 10px;
}
/* ---- Псевдоклассы иконок тултипов end ---- */

#swiper-partners .swiper-slide {
  display: flex;
  justify-content: center;
}
#swiper-partners a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 193px;
  height: 63px;
  border: 1px solid #cacaca;
}
#swiper-partners a img {
  width: 55%;
}
#swiper-partners #slide-4 img,
#swiper-partners #slide-5 img,
#swiper-partners #slide-8 img {
  width: 30%;
}
.swiper-first-img {
  opacity: 1;
  display: block;
  position: absolute;
  transition: all .3s ease-in-out;
}
.swiper-second-img {
  opacity: 0;
  transition: all .3s ease-in-out;
}
#swiper-partners a:hover .swiper-first-img {
  opacity: 0;
}
#swiper-partners a:hover .swiper-second-img {
  opacity: 1;
}
#swiper-partners a:focus-visible {
  outline: none;
  border: 1px solid #9d5cd0;
}

#swiper-partners .swiper-button-next,
#swiper-partners .swiper-button-prev {
  top: 60%;
}
#swiper-partners .swiper-button-next {
  right: 0;
}
#swiper-partners .swiper-button-prev {
  left: 0;
}
/* ---- Псевдоклассы свайпера start---- */
#swiper-partners .swiper-button-next:hover svg path:nth-child(2n-1),
#swiper-partners .swiper-button-prev:hover svg path:nth-child(2n-1) {
  fill: #d1a9f0;
}
#swiper-partners .swiper-button-next:hover svg path:nth-child(2n),
#swiper-partners .swiper-button-prev:hover svg path:nth-child(2n) {
  stroke: #d1a9f0;
}
#swiper-partners .swiper-button-next:focus-visible,
#swiper-partners .swiper-button-prev:focus-visible {
  outline: none;
}
#swiper-partners .swiper-button-next:focus-visible svg path:nth-child(2n),
#swiper-partners .swiper-button-prev:focus-visible svg path:nth-child(2n) {
  stroke: #9d5cd0;
}
#swiper-partners .swiper-button-next:active svg path:nth-child(2n),
#swiper-partners .swiper-button-prev:active svg path:nth-child(2n) {
  stroke: #9d5cd0;
}
#swiper-partners .swiper-button-next:active svg path:nth-child(2n-1),
#swiper-partners .swiper-button-prev:active svg path:nth-child(2n-1) {
  fill: #d1a9f0;
}
/* ---- Псевдоклассы свайпера end---- */
/* ---------- section projects end ---------- */

/* ---------- footer start ---------- */
/* ---- contacts start ---- */
.footer__contacts-wrap {
  padding-bottom: 17px;
  border: 1px solid #cacaca;
}
.form {
	display: flex;
	flex-direction: column;
  width: 100%;
}
address {
  margin-bottom: 20px;
  font-style:normal;
  font-size: 14px;
  line-height: 19px;
}
.contacts__input-wrap {
  margin-bottom: 20px;
}
.form__input {
	width: 100%;
	height: 40px;
	padding-left: 23px;
  border: none;
	border: 1px solid #333;
	border-radius: 20px;
	font-size: 16px;
	line-height: 19px;
}
.form__input:not(:last-child) {
  margin-bottom: 20px;
}
.form__input::placeholder {
	color: #999;
}
.form__input:focus {
	outline: none;
}
.form__input:hover {
	background-color: #ececec;
}
#contacts__form .btn {
	width: fit-content;
  margin-bottom: 20px;
	padding: 10px 33px;
  border: 2px solid #9d5cd0;
	border-radius: 30px;
	font-weight: 700;
  font-size: 12px;
  line-height: 16px;
	color: #9d5cd0;
}
.contacts__messages p {
  margin-bottom: 7px;
  font-size: 18px;
  line-height: 32px;
  color: #333;
}
.contacts__messages svg {
  width: 50px;
  height: 50px;
}
.contacts__messages a:not(:last-child) {
  margin-right: 15px;
}

.whatsapp rect {
  fill: #30bf39;
  stroke: #fff;
}
a:hover .whatsapp rect {
  fill: #30bf3950;
}
a:focus-visible .whatsapp rect {
  fill: #30bf3950;
}
a:active .whatsapp rect {
  fill: #30bf39;
  stroke: #9d5cd0;
}

.telegram path:nth-child(2n-1) {
  fill: #26a5e4;
  stroke: #fff;
}
a:hover .telegram path:nth-child(2n-1) {
  fill: #26a5e450;
}
a:focus-visible .telegram path:nth-child(2n-1) {
  fill: #26a5e450;
}
a:active .telegram path:nth-child(2n-1) {
  fill: #26a5e4;
  stroke: #9d5cd0;
}
/* ---- contacts end ---- */

/* ---- contacts map start ---- */
#map {
  width: 100%;
  height: 320px;
}
[class*="ground-pane"] {
	filter: grayscale(1);
}
[class*="controls"] {
	display: none;
}
/* ---- contacts map end ---- */

/* ---- bottom start ---- */
.footer__bottom {
  padding-top: 18px;
  padding-bottom: 20px;
  background-color: #000;
}
.bottom__social {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.bottom__social a:not(:last-child) {
  margin-right: 20px;
}

.vk,
.ok {
  width: 50px;
  height: 50px;
}
.vk path,
.ok path {
  fill: #cacaca;
}
a:hover .vk path,
a:hover .ok path {
  fill: #fff;
}
a:focus-within .vk path,
a:focus-within .ok path {
  fill: #fff;
}
a:active .vk path,
a:active .ok path {
  fill: #9d5cd0;
}

.bottom__logo {
  display: flex;
  justify-content: center;
}
.bottom__logo img {
  width: 97px;
}
/* ---- bottom start ---- */
/* ---------- footer end ---------- */

/* sm */
@media (min-width: 450px) {
  /* ---------- section events start ---------- */
  .card__body {
    height: 220px;
  }
  /* ---------- section events end ---------- */
}

/* sm */
@media (min-width: 576px) {}

/* md */
@media (min-width: 768px) {
  .container {
    --bs-gutter-x: 26px;
  }
  /* ---------- nav_mobile start---------- */
  .nav__mobile .row {
    padding-top: 37px;
    padding-bottom: 10px;
  }
  .nav-mobile__close-btn {
    margin-bottom: 30px;
  }
  .close-btn svg {
    width: 29px;
    height: 29px;
  }
  .nav-mobile__list-item a {
    font-size: 24px;
    line-height: 64px;
  }
  .nav-mobile__login-link {
    padding: 15px 90px;
    border-radius: 30px;
    font-size: 18px;
    line-height: 25px;
  }
  .nav-mobile__login-link svg {
    margin-top: 7px;
    margin-right: 5px;
    margin-left: -3px;
    width: 15px;
    height: 15px;
  }
  /* ---------- nav_mobile start---------- */

  /* ---------- search start---------- */
  .header__search-icon {
    width: 29px;
    height: 29px;
    margin-right: 10px;
  }
  .close-btn {
    width: 29px;
    height: 29px;
  }
  .header__search-big input {
    height: 32px;
    font-size: 20px;
  }
  /* ---------- search start---------- */

  /* ---------- header start---------- */
  .header-wrap {
    height: 100px;
    padding-top: 34px;
    padding-bottom: 36px;
  }
  .nav__burger  {
    width: 36px;
  }
  .header__logo-wrap {
    width: 187px;
    padding-top: 4px;
  }
  .header__search {
    width: 26px;
  }
  /* ---------- header end ---------- */

  /* ---------- section hero start ---------- */
  .hero__wrap {
    height: 668px;
    padding-top: 105px;
    text-align: left;
  }
  .hero__header {
    min-height: 196px;
    margin-bottom: -11px;
    font-size: 72px;
    line-height: 98px;
  }
  .hero__text {
    /* min-height: 192px; */
    margin-bottom: 87px;
    padding: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
  }
  .hero__btn {
    padding: 20px 33px;
    font-size: 18px;
    line-height: 25px;
  }
  /* ---------- section hero end ---------- */

  /* ---------- section about start ---------- */
  .about__wrap {
    padding-top: 80px;
    padding-bottom: 70px;
  }
  .about__header {
    margin-bottom: 16px;
    font-size: 48px;
    line-height: 65px;
  }
  .about__text {
    font-size: 16px;
    line-height: 32px;
  }
  /* ---------- section about end ---------- */

  /* ---------- section galery start ---------- */
  .galery__wrap {
    padding-top: 80px;
    padding-bottom: 81px;
  }
  .galery__header {
    max-height: 400px;
    margin-bottom: 16px;
    font-size: 48px;
    line-height: 65px;
  }
  .galery__filters > span {
    margin-bottom: 10px;
  }
  .choices {
    width: 281px;
    margin-bottom: 48px;
  }
  #swiper-galery {
    padding-top: 70px;
  }
  #swiper-galery .swiper-wrapper {
    padding-bottom: 0;
  }
  #swiper-galery .swiper-slide {
    height: 329px;
  }
  #swiper-galery .swiper-button-next,
  #swiper-galery .swiper-button-prev {
    top: 32px;
    left: 0;
  }
  #swiper-galery .swiper-button-next {
    left: 15%;
  }
  #swiper-galery .swiper-pagination {
    width: auto;
    top: 16px;
    left: 49px;
  }
  /* ---------- section galery end ---------- */

  /* ---------- section catalog start ---------- */
  .catalog__wrap {
    padding-top: 81px;
    padding-bottom: 80px;
  }
  .catalog__header {
    margin-bottom: 16px;
    font-size: 48px;
    line-height: 65px;
  }
  .catalog__text {
    margin-bottom: 22px;
  }
  .catalog__date-item {
    padding: 41px 50px 41px 0;
    font-size: 24px;
    line-height: 32px;
  }
  .catalog__date-item > svg {
    width: 50px;
  }
  .catalog__artists {
    padding: 25px 0 25px 0;
    column-width: 200px;
    column-gap: 30px;
  }
  .empty {
    column-count: unset;
  }
  .catalog__date-list {
    margin-bottom: 50px;
  }
  .info__img {
    margin-bottom: 19px;
  }
  .info__img img {
    width: 100%;
  }
  .info__header {
    margin-bottom: 8px;
  }
  .info__date {
    margin-bottom: 7px;
  }
  .catalog__empty {
    column-width:unset;
    column-gap: unset;
  }
  /* ---------- section catalog end ---------- */

  /* ---------- section events start ---------- */
  .events__wrap {
    padding-bottom: 77px;
  }
  .events__header {
    margin-bottom: 15px;
    font-size: 48px;
    line-height: 65px;
  }
  #swiper-events .swiper-wrapper {
    padding-bottom: 43px;
  }
  .card__wrap {
    padding: 14px 31px 50px 32px;
  }
  .card__body {
    height: 353px;
    padding-right: 10px;
  }
  .card__date {
    margin-bottom: 4px;
  }
  .card__link {
    padding-left: 1px;
  }
  /* ---------- section events end ---------- */

  /* ---------- section projects start ---------- */
  .projects__wrap {
    padding-bottom: 81px;
  }
  .projects__header {
    margin-bottom: 16px;
    font-size: 48px;
    line-height: 65px;
  }
  .projects__text {
    margin-bottom: 28px;
    margin-right: 3px;
  }
  .projects__text a {
    display: inline-flex;
  }
  .projects__partners-header {
    margin-bottom: 29px;
    font-size: 24px;
    line-height: 32px;
  }
  #swiper-partners a {
    width: 264px;
    height: 104px;
  }
  .projects__partners {
    position: relative;
  }
  #swiper-partners  {
    position: unset;
    width: 600px;
  }
  #swiper-partners .swiper-button-next,
  #swiper-partners .swiper-button-prev {
    top: 73%;
  }
  /* ---------- section projects end ---------- */

  /* ---------- footer start ---------- */
  .footer__contacts-wrap {
    padding-top: 40px;
  }
  .contacts__header {
    margin-bottom: 11px;
    font-size: 24px;
    line-height: 32px;
  }
  address {
    margin-bottom: 30px;
  }
  .contacts__input-wrap {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
  }
  .form__input {
    /* width: 48.5%; */
    height: 50px;
    border-radius: 25px;
  }
  .form__input:not(:last-child) {
    margin-bottom: 0;
  }
  .form__input:not(:last-child) {
    margin-right: 20px;
  }
  #contacts__form .btn {
    margin-bottom: 30px;
    padding: 10px 28px;
    font-size: 18px;
    line-height: 25px;
  }
  .contacts__messages  {
    margin-bottom: 22px;
  }
  .contacts__messages p {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }
  .contacts__messages svg {
    width: 40px;
    height: 40px;
  }
  #map {
    height: 700px;
  }
  .footer__bottom {
    padding-top: 39px;
  }
  .bottom__logo {
    justify-content: flex-start;
    padding-top: 11px;
    padding-left: 1px;
  }
  .bottom__logo img {
    width: 175px;
  }
  .bottom__social {
    justify-content: flex-end;
  }
  .vk, .ok {
    width: 60px;
    height: 60px;
  }
  /* ---------- footer end ---------- */
}

/* lg */
@media (min-width: 992px) {
  .container {
    --bs-gutter-x: 17px;
  }
   /* ---------- search start---------- */
  .header__search-big  {
    width: 320px;
  }
  .header__search-big input {
    height: 32px;
    font-size: 22px;
  }
  /* ---------- search end---------- */

  /* ---------- header start---------- */
  .header .row {
    padding-top: 2px;
  }
  .nav__burger {
    width: 38px;
  }
  .header__search {
    width: 30px;
  }
  /* ---------- header end ---------- */

  /* ---------- section hero start ---------- */
  .hero__text {
    padding-right: 0;
  }
  /* ---------- section hero end ---------- */

  /* ---------- section galery start ---------- */
  .choices {
    margin-bottom: 113px;
  }
  #swiper-galery {
    padding-top: 85px;
    padding-left: 15px;
  }
  #swiper-galery .swiper-slide {
    height: 350px;
  }
  #swiper-galery .swiper-button-next,
  #swiper-galery .swiper-button-prev {
    top: 47px;
  }
  #swiper-galery .swiper-button-prev {
    left: 15px;
  }
  #swiper-galery .swiper-button-next {
    left: 115px;
  }
  #swiper-galery .swiper-pagination {
    max-width: 40px;
    top: 32px;
    left: 63px;
  }
  /* ---------- section galery end ---------- */

  /* ---------- section catalog start ---------- */
  .catalog__wrap {
    padding-bottom: 31px;
  }
  .catalog__text {
    margin-bottom: 40px;
  }
  .catalog__info {
    padding-right: 13px;
  }
  .catalog__date-list {
    padding-left: 10px;
  }
  .info__img {
    margin-bottom: 27px;
  }
  .info__date {
    margin-bottom: 17px;
  }
  /* ---------- section catalog end ---------- */

  /* ---------- section events start ---------- */
  .card__body {
    padding-right: 1px;
  }
  /* ---------- section events end ---------- */

  /* ---------- section projects start ---------- */
  .projects__text {
    margin-bottom: 19px;
  }
  .projects__partners-header {
    margin-bottom: 24px;
  }
  #swiper-partners {
    width: 868px;
  }
  #swiper-partners a {
    width: 380px;
    height: 125px;
  }
  #swiper-partners .swiper-button-next,
  #swiper-partners .swiper-button-prev {
    top: 70%;
  }
  /* ---------- section projects end ---------- */

  /* ---------- footer start---------- */
  .footer__contacts-wrap {
    padding-top: 41px;
    padding-bottom: 17px;
  }
  /* ---------- footer__contacts start ---------- */
  .form__custom-block-first {
    width: 61.9%;
  }
  .form__custom-block-second {
    width: 38.1%;
    padding-left: 7px;
  }
  #contacts__form .btn {
    margin-bottom: 28px;
    padding: 11px 40px;
  }
  /* ---------- footer__contacts end ---------- */
  /* ---------- footer end ---------- */
}

/* xl */
@media (min-width: 1200px) {

  .header .row {
    padding-top: 0px;
    padding-bottom: 5px;
  }
  .header__nav-wrap {
    padding-left: 50px;
  }
  .nav__major  {
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
  }
  .nav-major__list {
    width: inherit;
    padding-top: 5px;
  }
  .nav-major__list-item {
    max-height: 65px;
    padding-right: 10px;
    overflow: hidden;
    word-break: break-word;
  }
  .nav-major__list-item:not(:last-child) {
    margin-right: 30px;
  }
  .header__login-link {
    max-height: 25px;
    margin-right: -1px;
    font-size: 18px;
    overflow: hidden;
    word-wrap: break-word;
    color: #fff;
  }
  .header__login-link svg {
    margin-top: 0;
    margin-right: 9px;
  }
  .nav-bar {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .nav-bar nav {
    height: 70px;
    color: #fff;
  }
  .nav-bar__list {
    width: 100%;
    height: inherit;
    padding-right: 50px;
    margin-left: -5px;
    color: #fff;
  }
  .nav-bar__list-item {
    max-height: 30px;
    overflow: hidden;
    word-break: break-word;
    font-size: 18px;
    overflow: hidden;
  }
  .nav-bar__list-item:not(:last-child) {
    padding-right: 10px;
  }
  .nav-bar__btn {
    position: relative;
    padding-right: 20px;
    padding-left: 5px;
    line-height: 30px;
    color: #fff;
  }
  .nav-bar__btn:hover {
    color: #9d5cd0;
  }
  .nav-bar__btn:hover.nav-bar__btn::after {
    border-color: #9d5cd0;
  }
  .nav-bar__btn:focus-visible{
    outline-color: #7943a4;
    background-color: #7943a4;
  }
  .nav-bar__btn::after {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    right: 8px;
    bottom: 12px;
    border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    rotate: 45deg;
    transition: all 0.3s linear;
  }
  .nav-bar__btn--active.nav-bar__btn::after {
    transform: rotate(-180deg);
    bottom: 8px;
  }
  .nav-bar__items-wrap {
    position: absolute;
    width: 300px;
    height: 0;
    top: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    transition: .3s all ease-in-out;
    overflow: hidden;
  }
  .nav-bar__items-wrap--active {
    /* height: 300px; */
    height: 540px;
    visibility: visible;
  }
  .nav-bar__dropdown-list {
    flex-direction: column;
    padding: 40px;
  }
  .nav-bar__dropdown-item {
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .nav-bar__dropdown-item:not(:last-child) {
    margin-bottom: 20px;
  }
  .nav-bar__dropdown-item-btn {
    width: 100%;
    height: 40px;
    font-weight: 600;
    font-size: 14px;
    /* line-height: 19px; */
    color: #fff;
    outline: none;
    border: 2px solid transparent;
    outline: 1px solid transparent;
    transition: all .3s ease-in-out;
  }
  .nav-bar__dropdown-item-btn:hover {
    border: 2px solid #9d5cd0;
  }
  .nav-bar__dropdown-item-btn:focus-visible {
    outline: 1px solid transparent;
    border: 2px solid #9d5cd0;
  }
  .nav-bar__dropdown-item-btn:active {
    background-color: #c283f355;;
  }
  #list-1 .nav-bar__dropdown-item:nth-child(4n+1) {
    background-image: url(../img/nav-dropdown/bg-1-1.jpg);
  }
  #list-1 .nav-bar__dropdown-item:nth-child(4n+2) {
    background-image: url(../img/nav-dropdown/bg-1-2.jpg);
  }
  #list-1 .nav-bar__dropdown-item:nth-child(4n+3) {
    background-image: url(../img/nav-dropdown/bg-1-3.jpg);
  }
  #list-1 .nav-bar__dropdown-item:nth-child(4n+4) {
    background-image: url(../img/nav-dropdown/bg-1-4.jpg);
  }

  #list-2 .nav-bar__dropdown-item:nth-child(4n+1) {
    background-image: url(../img/nav-dropdown/bg-2-1.jpg);
  }
  #list-2 .nav-bar__dropdown-item:nth-child(4n+2) {
    background-image: url(../img/nav-dropdown/bg-2-2.jpg);
  }
  #list-2 .nav-bar__dropdown-item:nth-child(4n+3) {
    background-image: url(../img/nav-dropdown/bg-2-3.jpg);
  }
  #list-2 .nav-bar__dropdown-item:nth-child(4n+4 ) {
    background-image: url(../img/nav-dropdown/bg-2-4.jpg);
  }

  #list-3 .nav-bar__dropdown-item:nth-child(4n+1) {
    background-image: url(../img/nav-dropdown/bg-3-1.jpg);
  }
  #list-3 .nav-bar__dropdown-item:nth-child(4n+2) {
    background-image: url(../img/nav-dropdown/bg-3-2.jpg);
  }
  #list-3 .nav-bar__dropdown-item:nth-child(4n+3) {
    background-image: url(../img/nav-dropdown/bg-3-3.jpg);
  }
  #list-3 .nav-bar__dropdown-item:nth-child(4n+4 ) {
    background-image: url(../img/nav-dropdown/bg-3-4.jpg);
  }

  #list-4 .nav-bar__dropdown-item:nth-child(4n+1) {
    background-image: url(../img/nav-dropdown/bg-4-1.jpg);
  }
  #list-4 .nav-bar__dropdown-item:nth-child(4n+2) {
    background-image: url(../img/nav-dropdown/bg-4-2.jpg);
  }
  #list-4 .nav-bar__dropdown-item:nth-child(4n+3) {
    background-image: url(../img/nav-dropdown/bg-4-3.jpg);
  }
  #list-4 .nav-bar__dropdown-item:nth-child(4n+4 ) {
    background-image: url(../img/nav-dropdown/bg-4-4.jpg);
  }

  #list-5 .nav-bar__dropdown-item:nth-child(4n+1) {
    background-image: url(../img/nav-dropdown/bg-5-1.jpg);
  }
  #list-5 .nav-bar__dropdown-item:nth-child(4n+2) {
    background-image: url(../img/nav-dropdown/bg-5-2.jpg);
  }
  #list-5 .nav-bar__dropdown-item:nth-child(4n+3) {
    background-image: url(../img/nav-dropdown/bg-5-3.jpg);
  }
  #list-5 .nav-bar__dropdown-item:nth-child(4n+4 ) {
    background-image: url(../img/nav-dropdown/bg-5-4.jpg);
  }

  .nav-bar__search {
    display: flex;
    align-items: center;
    margin-bottom: -7px;
    margin-left: -5px;
  }
  .nav-bar__search-icon {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    margin-right: 2px;
  }
  .nav-bar__search-icon svg {
    margin-left: -7px;
  }
  #nav-bar__search {
    width: 100%;
    height: 22px;
    padding: 0;
    padding-bottom: 7px;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    background-color: #00000000;
  }
    /* ---------- hero section start ---------- */
  .hero__wrap {
    height: 700px;
    padding-top: 133px;
    padding-right: 55%;
    padding-bottom: 122px;
  }
  .hero__header {
    margin-bottom: -2px;
  }
  .hero__text {
    margin-bottom: 75px;
    padding-right: 165px;
  }
  .card__body {
    height: 276px;
  }
  /* ---------- hero section end ---------- */

  /* ---------- about section start ---------- */
  .about__wrap {
    padding-right: 34%;
  }
  /* ---------- about section end ---------- */

  /* ---------- galery section start ---------- */
  .galery__wrap {
    padding-bottom: 50px;
  }
  .galery__custom-block-first {
    width: 27%;
    padding-right: 25px;
  }
  .galery__custom-block-second {
    width: 73%;
    padding-left: 10px;
  }
  .choices {
    width: 100%;
    margin-bottom: 46%;
  }
  #swiper-galery .swiper-slide {
    height: 350 px;
  }
  #swiper-galery .swiper-button-prev {
    left: 18px;
  }
  #swiper-galery .swiper-button-next {
    left: 118px;
  }
  #swiper-galery .swiper-pagination {
    left: 66px;
  }
  /* ---------- galery section end ---------- */

  /* ---------- catalog section start ---------- */
  .catalog__text {
    padding-right: 31%;
  }
  .catalog__info {
    padding-right: 3px;
  }
  .catalog__custom-block-first {
    width: 52%;
  }
  .catalog__custom-block-second {
    width: 48%;
  }
  .catalog__date-list {
    padding-left: 18px;
  }
  .info__header {
    margin-bottom: 9px;
  }
  .info__date {
    margin-bottom: 14px;
  }
  /* ---------- catalog section end ---------- */

  /* ---------- events section start ---------- */
  .events__wrap {
    padding-bottom: 0;
    margin-bottom: 48px;
  }
  .section-events > .container {
    position: relative;
  }
  #swiper-events {
    position: unset;
  }
  #swiper-events .card__head {
    height: 300px;
  }
  #swiper-events .swiper-button-next,
  #swiper-events .swiper-button-prev {
    width: 50px;
    top: 52.5%;
  }
  #swiper-events .swiper-button-next {
    right: -6px;
  }
  #swiper-events .swiper-button-prev {
    left: -6px;
  }
  .card__wrap {
    padding: 12px 40px 35px 49px;
  }
  .card__date {
    text-align: left;
    margin-bottom: 13px;
  }
  .card__header {
    margin-bottom: 10px;
    padding-right: 80px;
  }
  /* ---------- events section end ---------- */

  /* ---------- projects section start ---------- */
  .projects__text {
    padding-right: 31%;
  }
  #swiper-partners {
    width: 94%;
  }
  #swiper-partners a {
    width: 445px;
    height: 148px;
  }
  #swiper-partners .swiper-button-next,
  #swiper-partners .swiper-button-prev {
    top: 67%;
  }
  /* ---------- projects section end ---------- */

  /* ---------- footer start ---------- */
  /* ---------- contacts start ---------- */
  .footer__contacts-wrap {
    padding-top: 35px;
    padding-bottom: 13px;
  }
  .contacts__header {
    margin-bottom: 2px;
    padding-top: 7px;
  }
  address {
    font-size: 16px;
    line-height: 32px;
  }
  .contacts__custom-block-first {
    width: 18%;
  }
  .contacts__custom-block-second {
    width: 62%;
  }
  .contacts__custom-block-third {
    width: 20%;
  }
  .contacts__input-wrap {
    margin-left: 42px;
  }
  .form {
    padding-top: 15px;
  }
  .form__custom-block-first {
    width: 62%;
    padding-right: 10px;
  }
  .form__custom-block-second {
    width: 37%;
    padding-left: 10px;
    padding-right: 30px;
  }
  #contacts__form .btn {
    margin-bottom: 28px;
    padding: 11px 35px;
  }
  .contacts__messages {
    margin-bottom: 0;
    padding-left: 20px;
  }
  /* ---------- contacts end ---------- */

  /* ---------- bottom start ---------- */
  .vk, .ok {
    width: 45px;
  }
  /* ---------- bottom end ---------- */
  /* ---------- footer end ---------- */
}

 /* xxl */
@media (min-width: 1400px) {
  /* ---------- header start---------- */
  .header__logo-wrap {
    padding-top: 5px;
    margin-left: -10px;
  }
  .header__logo-wrap img {
    margin-left: 10px;width: 175px;
  }
  .header__nav-wrap {
    padding: 0;
  }
  .nav__major  {
    margin-left: 81px;
  }
  .nav-major__list-item:not(:last-child) {
    margin-right: 52px;
  }
  .nav-bar__list {
    width: 1046px;
    padding-right: 0;
  }
  /* ---------- header end ---------- */
}

 /* My */
@media (min-width: 1920px) {
  .container {
    min-width: 1635px;
  }
}
