:root {
  --text-default: #fff;
  --text-gray: #999;

  --text-link-dark-default: #666;
  --text-link-light-default: #cc9933;
  --text-link-focus: #cc9933;
  --text-link-dar-hover: #cc9933;
  --text-link-light-hover: #e9c479;
  --text-link-active: #a47312;

  --btn-text-default: #cc9933;
  --btn-text-focus: #fff;
  --btn-text-hover: #fff;
  --btn-text-active: #fff;
  --btn-bg-default: #cc9933;
  --btn-bg-focus: #cc9933;
  --btn-bg-hover: #cc9933;
  --btn-bg-active: #a47312;
  --btn-border-default: #cc9933;

  --special-card-link-default: #ffcc66;
  --special-card-link-focus: #ffcc66;
  --special-card-link-hover: #ffcc66;
  --special-card-link-active: #fff;

  --services-card-link-default: #cc9933;
  --services-card-link-focus: #cc9933;
  --services-card-link-hover: #e9c479;
  --services-card-link-active: #a47312;

  --footer-item-link-focus: #cc9933;
  --footer-item-link-hover: #cc9933;
  --footer-item-link-active: #a47312;
}

@font-face {
	font-family: 'Muller';
	src: local('Muller-Regular'),
		url('../fonts/MullerRegular.woff2') format('woff2'),
		url('../fonts/MullerRegular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: local('Muller-Medium'),
		url('../fonts/MullerMedium.woff2') format('woff2'),
		url('../fonts/MullerMedium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}


@font-face {
	font-family: 'Muller';
	src: local('Muller-Bold'),
		url('../fonts/MullerBold.woff2') format('woff2'),
		url('../fonts/MullerBold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
  min-width: 1200px;
	font-family: 'Muller', sans-serif;
  background-color: #e5e5e5;
}

/* glob */

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex {
  display: flex;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.link-dark:focus {
  outline: 1px solid var(--text-link-focus);
  color: var(--text-link-focus);
}
.link-dark:hover {
  color: var(--text-link-dar-hover);
}
.link-dark:active {
  outline: none;
  color: var(--text-link-active);
}

.link-light:focus {
  outline: 1px solid var(--text-link-focus);
  color: var(--text-link-focus);
}
.link-light:hover {
  color: var(--text-link-light-hover);
}
.link-light:active {
  color: var(--text-link-active);
}
.link-light:hover svg path {
  fill: var(--text-link-light-hover);
}
.link-light:active svg path {
  fill: var(--text-link-active);
}

.btn {
  color: var(--btn-bg-default);
  border: 1px solid #cc9933;
}
.btn:focus {
  background-color: var(--btn-bg-focus);
  color: var(--btn-text-focus);
}
.btn:hover {
  background-color: var(--btn-bg-hover);
  color: var(--btn-text-hover);
}
.btn:active {
  background-color: var(--btn-bg-active);
  color: var(--btn-text-active);
}

.container {
  width: 1216px;
  margin: 0 auto;
  padding: 0 23px;
}

.section-title {
  margin: 0;
  padding-left: 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  overflow-wrap: break-word;
  color: var(--section-title);
}

.section-offset {
  padding-bottom: 70px;
}

/* header */

.header {
  padding-top: 30px;
  margin-bottom: 70px;
}

.header-container {}

.header-main {
  margin-bottom: 30px;
  align-items: center;
}

.header-logo-link {
  min-width: 260px;
  margin-right: 34px;
}

.header-logo-img {}

.header-link-tel {
  display: block;
  margin-right: auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--text-link-dark-default);
  transition: color 0.3s ease;
}

.header-link-cabinet {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 10px;
  color: var(--text-link-light-default);
  transition: color 0.3s ease;
}

.header-link-cabinet-icon {
  position: relative;
  left: -7px;
}

.header-link-cabinet-icon path {
  transition: fill 0.3s ease;
}

.header-nav {
  align-items: center;
  padding: 15px 25px;
  border-radius: 15px;
  background-color: #fff;
}

.header-nav-list {
  width: 100%;
  max-width: 730px;
  padding: 17px 0;
  justify-content: space-between;
  border-right: 1px solid #e1e1e1;
  line-height: 16px;
}

.header-nav-item {
  max-width: 160px;
  padding-right: 15px;
  overflow: hidden;
  overflow-wrap: break-word;
  color: var(--text-link-dark-default);
}

.header-nav-item:last-child {
  padding-right: 25px;
}
.header-nav-link {}

.header-nav-buttons {
  width: 100%;
  max-width: 426px;
  padding-left: 25px;
  justify-content: space-evenly;
}

.header-btn-link {
  max-width: 180px;
  padding: 13px 20px;
  border-radius: 10px;
  overflow-wrap: break-word;
  overflow: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header-btn {
  max-width: 180px;
  padding: 13px 20px;
  border-radius: 10px;
  overflow: hidden;
  overflow-wrap: break-word;
  color: var(--btn-text-default);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* special */

.special-title {
  margin-bottom: 20px;
}

.special-left-list {
  width: 573px;
  margin: 0;
  margin-right: 23px;
}

.special-left-item:not(:last-child) {
  margin-bottom: 23px;
}

.special-left-item {
  padding: 40px;
  padding-right: 234px;
  border-radius: 15px;
}

.special-left-item-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  overflow-wrap: break-word;
  color: var(--text-default);
}

.special-left-item-price {
  margin: 0;
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  overflow-wrap: break-word;
  opacity: 80%;
  color: var(--text-default);
}

.special-left-item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  overflow-wrap: break-word;
  color: var(--special-card-link-default);
  transition: color 0.3s ease;
}

.special-left-item-link:focus {
  color: var(--special-card-link-focus);
}
.special-left-item-link:hover {
  color: var(--special-card-link-hover);
}
.special-left-item-link:active {
  color: var(--special-card-link-active);
}

.special-left-item-link-icon, .special-right-item-link-icon {
  position: relative;
  top: 4px;
  right: -4px;
}

.special-left-item-link-icon path {
  transition: stroke 0.3s ease;
}

.special-left-item-link:active .special-left-item-link-icon path {
  stroke: var(--special-card-link-active)
}

.special-left-item-1, .special-left-item-2, .special-right-item {
  background-size: cover;
}
.special-left-item-1 {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/special-1.jpg);
}
.special-left-item-2 {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/special-2.jpg);
}

.special-right-list {
  margin: 0;
}

.special-right-item {
  width: 573px;
  padding: 211px 234px 40px 40px ;
  border-radius: 15px;
  background-image: linear-gradient(0deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/special.jpg);
}

.special-right-item-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  overflow-wrap: break-word;
  color: var(--text-default);
}

.special-right-item-price {
  margin: 0;
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  overflow-wrap: break-word;
  opacity: 80%;
  color: var(--text-default);
}

.special-right-item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  overflow-wrap: break-word;
  color: var(--special-card-link-default);
  transition: color 0.3s ease;
}

.special-right-item-link:focus {
  color: var(--special-card-link-focus);
}

.special-right-item-link:hover {
  color: var(--special-card-link-hover);
}

.special-right-item-link:active {
  color: var(--special-card-link-active);
}

.special-right-item-link-icon path {
  transition: stroke 0.3s ease;
}

.special-right-item-link:active .special-right-item-link-icon path {
  stroke: var(--special-card-link-active)
}

/* about */

.about {}

.about-title {
  margin-bottom: 20px;
}

.about-descr {
  width: 888px;
  margin: 0;
  line-height: 32px;
}

/* services */

.services {
  padding-bottom: 45px;
}

.services-title {
  margin-bottom: 20px;
}

.services-list {
  flex-wrap: wrap;
  justify-content: space-between
}

.services-item {
  width: 573px;
  margin-right: 23px;
  margin-bottom: 23px;
  padding: 191px 126px 50px 45px;
  border-radius: 15px;
  background-position: top;
  background-repeat: no-repeat;
  background-color: #fff;
}

.services-item:nth-child(even) {
  margin-right: 0;
}

.services-item-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  overflow-wrap: break-word;
  color: var(--services-card-link-default);
  transition: color 0.3s ease;
}

.services-item-link:focus {
  color: var(--services-card-link-focus);
}

.services-item-link:hover {
  color: var(--services-card-link-hover);
}

.services-item-link:active {
  color: var(--services-card-link-active);
}

.services-item-link-icon path {
  transition: stroke 0.3s ease;
}

.services-item-link:hover .services-item-link-icon path {
  stroke: var(--services-card-link-hover)
}
.services-item-link:active .services-item-link-icon path {
  stroke: var(--services-card-link-active)
}

.services-item-link-icon {
  position: relative;
  top: 3px;
  right: -5px;
}

.services-item-descr {
  margin: 0;
  line-height: 32px;
  overflow-wrap: break-word;
}

.services-item-img-1 {
  background-image: url(../img/services-1.jpg);
}

.services-item-img-2 {
  background-image: url(../img/services-2.jpg);
}

.services-item-img-3 {
  background-image: url(../img/services-3.jpg);
}

.services-item-img-4 {
  background-image: url(../img/services-4.jpg);
}

/* advantage */

.advantage {
  padding-bottom: 45px;
}

.advantage-title {
  margin-bottom: 30px;
}

.advantage-list {
  flex-wrap: wrap;
}

.advantage-svg {
  margin-bottom: 10px;
}

.advantage-item {
  width: 275px;
  margin-right: 23px;
  margin-bottom: 23px;
  padding: 40px 45px;
  border-radius: 15px;
  background-color: #fff;
}

.advantage-item:nth-child(4n) {
  margin-right: 0;
}

.advantage-item-descr {
  margin: 0;
  font-size: 16px;
  line-height: 30px;
  overflow-wrap: break-word;
}

/* placement */

.placement {}

.placement-title {
  margin-bottom: 45px;
}

.placement-list {
  flex-wrap: wrap;
}

.placement-item {
  width: 374px;
  margin-bottom: 23px;
  margin-right: 23px;
  border-radius: 15px;
  background-color: #fff;
}

.placement-item:nth-child(3n) {
  margin-right: 0;
}

.placement-item-image {
  border-radius: 15px 15px 0 0;
}

.placement-item-wrap {
  padding: 40px 45px;
}

.placement-item-price {
  position: relative;
  margin: 0;
  margin-bottom: 16px;
  overflow-wrap: break-word;
}

.price-first {
  color: var(--text-gray);
}

.price-number {
  font-weight: 700;
}

.price-last {}

.price-stars {
  position: absolute;
  right: 0;
}

.placement-item-star {}

.placement-item-title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  overflow-wrap: break-word;
}

.placement-item-location {
  margin: 0;
  margin-bottom: 20px;
  overflow-wrap: break-word;
  color: var(--text-gray);}

.placement-btn {
  max-width: 285px;
  border-radius: 10px;
  padding: 13px 20px;
  overflow-wrap: break-word;
}

.placement-item-more {
  position: relative;
  height: 459px;
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/placement-9.jpg);
}

.placement-item-more-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  overflow-wrap: break-word;
  color: #fff;
}

.placement-item-more-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.placement-item-more-link span {
  position: absolute;
  width: 270px;
  bottom: 30px;
  left: 55px;
}

.placement-item-more-link-arrow {
  position: relative;
  top: 4px;
  right: -3px;
}

/* form */

.want {}

.want-container {
  background: #e9e9e9;
  padding: 38px 40px 70px;
  border-radius: 15px;
}

.want-title {
  padding-left: 0;
  margin-bottom: 20px;
}

.form {
  padding: 30px 30px;
  border-radius: 15px;
  background: #fff;
}

.fieldset {
  border: none;
  padding: 0;
}

.want-form-list {}

.want-form-item {
  position: relative;
  flex-direction: column;
  padding: 0 20px;
  border-right: 1px solid #e1e1e1;
}

.want-form-item:first-child {
  padding-left: 0;
}

.form-item-descr {
  display: inline-block;
  width: 120px;
  /* flex-grow: 1; */
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 12px;
  overflow-wrap: break-word;
}

.form-select {
  position: relative;
  padding-right: 20px;
  width: 170px;
  margin-left: -4px;
  line-height: 16px;
  border: none;
  appearance: none;
  background: #fff0;
  z-index: 1;
}

.form-input-date {
  position: relative;
  margin-left: -5px;
  line-height: 16px;
  border: none;
  background: #fff0;
  z-index: 1;
}

.form-select-icon {
  position: absolute;
  right: 20px;
  bottom: 9px;
}

.form-input-icon {
  position: absolute;
  right: 20px;
  bottom: 5px;
}

.form-input-number {
  width: 120px;
  border: none;
  border-bottom: 1px solid #e1e1e1;
}

.form-btn-container {
  width: 100%;
  padding-left: 20px;
  justify-content: right;
}

.form-bth {
  max-width: 125px;
  padding: 13px 30px;
  border-radius: 10px;
  overflow-wrap: break-word;
}

/* Ð¡ontacts */
.contacts {
  padding-bottom: 20px;
}

.contacts-title {
  margin-bottom: 25px;
}

.contact-wrapper {
  padding: 45px;
  border-radius: 15px;
  background-color: #fff;
}

.contacts-list-wrapper {}

.contacts-list {
  flex-direction: column;
  padding-right: 50px;
  margin-bottom: 45px;
}

.contacts-item {
  max-width: 375px;
  border-bottom: 1px solid #e4e4e4;
  padding-top: 25px;
  padding-bottom: 23px;
}

.contacts-item:first-child {
  padding-top: 0;
}

.contacts-item-left {
  width: 145px;
}

.contact-item-title {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  overflow-wrap: break-word;
}

.contacts-item-right {
  width: 230px;
}

.contacts-item-right p {
  margin: 0;
  line-height: 24px;
}

.contacts-img {
  border-radius: 10px;
}

.contacts-tel-link {
  display: inline-block;
  color: var(--text-link-light-default);
}

.contacts-tel-link:not(:last-child) {
  margin-bottom: 5px;
}

.contscts-email-link {
  display: inline-block;
  margin-bottom: 5px;
  color: var(--text-link-light-default);
}

.contscts-email-link-descr {
  line-height: 24px;
  color: var(--text-gray);
}

.contscts-email-link-descr:not(:last-child) {
  margin-bottom: 5px;
}

.contacts-bth {
  max-width: 375px;
  padding: 30px;
  border-radius: 10px;
  overflow-wrap: break-word;
}

/* footer */

.footer {
  padding-bottom: 20px;
}

.footer-main {
  border-radius: 15px;
  padding: 50px;
  color: var(--text-default);
  background-color: #333;
  background-repeat: no-repeat;
  background-position: 80% 100%;
  background-image: url(../img/footer-logo.png);
}

.footer-left {
  width: 420px;
  margin-right: 100px;
}

.footer-text {
  flex-direction: column;
  margin: 0;
  line-height: 30px;
}

.address {
  margin-bottom: 15px;
  font-style: normal;
  line-height: 30px;
}

.footer-center-text:not(:last-child) {
  margin-bottom: 15px;
}

.footer-link {
  line-height: 24px;
  color: var(--text-link-light-default);
}

.footer-left-text:not(:last-child) {
  margin-bottom: 50px;
}

.footer-center {
  width: 360px;
}

.footer-right {
  margin-left: auto;
}

.footer-list {
  flex-direction: column;
}

.footer-item:not(:last-child) {
  margin-bottom: 20px;
}

.footer-item-link {
  transform: fill .3s ease;
}
.footer-item-link:focus svg path {
  fill: var(--footer-item-link-focus);
}
.footer-item-link:hover svg path {
  fill: var(--footer-item-link-hover);
}
.footer-item-link:active svg path {
  fill: var(--footer-item-link-active);
}
